@{
    ViewData["Title"] = "Roofing | Fastest Roofing | Steel Roofing | Steel Sheet Roofing | Warehouse Roofing | Factory Roofing | Industrial Roofing";
}

<!-- Start Header Area background -->
<div class="contact-us-page">


    <div id="inner-header">
        <img src="../images/inner_banner/careers.jpg"> <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="pages-header-content text-center">


                        <div class="breadcum">
                            <ul>
                                <li><a href="/home">Home</a></li>
                                <li><a href="javascript:void(0)">Careers</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Header Area background  -->
    <!-- Contact-content -->

    <section id="contact-section-form" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 ">
                    <form action="" method="post" name="contactForm" class="sky-form" enctype="multipart/form-data">
                        <fieldset>

                            <section>

                                <label class="input">
                                    <i class="icon-append fa fa-user"></i>
                                    <input type="text" name="c_name" id="c_name" placeholder="Name*">
                                </label>
                            </section>
                            <section>

                                <label class="input">
                                    <i class="icon-append fa fa-envelope-o"></i>
                                    <input type="email" name="c_email" id="c_email" placeholder="Email*">
                                </label>
                            </section>

                            <section>

                                <label class="input">
                                    <i class="icon-append fa fa-phone"></i>
                                    <input type="text" name="c_mobile_no" id="c_mobile_no" maxlength="10" placeholder="Phone No.*">
                                </label>
                            </section>
                            <section>
                                <div class="customfile-wrap">
                                <input type="text" class="customfile-filename wpcf7-form-control " id="upload" placeholder="Attach Resume*" name="upload">
                                <button type="button" class="customfile-upload" tabindex="-1">Choose File</button>
                                </div>
                            </section>
                            <section>

                                <label class="input">
                                    <i class="icon-append fa fa-comment"></i>
                                    <textarea class="form-control" id="message" name="message" placeholder="Message"></textarea>
                                </label>
                            </section>

                        </fieldset>
                        <button type="submit" class="contact-submit-button" onClick="return valid_careers();">
                            <span>Send Message</span>
                        </button>
                    </form>

                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 contact-add-sec">
                    <div class="widget">
                        <h4><span>Corporate Office</span></h4>
                    </div>
                    <div class="er-service-list">


                        <p style="margin-bottom:5px;">
                            <i class="fa fa-map-marker"></i>  RoofTech Solutions ,<br>
                            <span class="footer-left-padding"></span>7, Shreeji Complex, <br>
                            <span class="footer-left-padding"></span>Nr. Hirabaug, Varachha Road, <br><span class="footer-left-padding"></span>Surat - 395 006. <br><span class="footer-left-padding"></span>Gujrat, India.
                        </p>
                        <p>
                            <i class="fa fa-mobile"></i><a href="tel: +91 7202022022" title="Sales Enquiry" style="color:#444"> &nbsp; +91 72020 22022</a><br>
                            <i class="fa fa-mobile"></i><a href="tel: +91 9316456429" title="Sales Enquiry" style="color:#444"> &nbsp; +91 93164 56429</a><br>

                            <i class="fa fa-envelope"></i> <a href="mailto:sales@eroofteh.com" style="color:#444">sales@eroofteh.com</a> <br>
                            <i class="fa fa-envelope"></i> <a href="mailto:rooftech31@gmail.com" style="color:#444">rooftech31@gmail.com</a> <br>

                        </p>
                    </div>

                </div>

            </div>
        </div>
    </section> <!-- /#contact-content -->
</div>