@{
    ViewData["Title"] = "Industrial Roof | Industrial Roofing | Roofing | Steel Roof | Innovative Roofing Solutions";
}

<!-- Start Header Area background -->


<div id="inner-header">
    <img src="../images/inner_banner/m_b_group.jpg"> <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pages-header-content text-center">


                    <div class="breadcum">
                        <ul>
                            <li><a href="/home">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">GROUP</a></li>
                            <li><a href="#">Expertise & Capabilities</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Header Area background  -->
<!-- Start Service Details Goes Here -->
<section id="service-full-area" class="service-full-area section-padding">
    <div class="container">
        <div class="row">

            <div class="col-md-9 col-xs-12 right-side animated wow slideInRight" data-wow-delay=".4s">
                <!--<div class="section-one section-about">
                  <div class="single-item single-item-about">
                    <div class="widget">
                      <h4><span>Expertise & Capabilities</span></h4>
                    </div>

                  </div>
                </div>-->
                <div class="section-two">
                    <div class="col-sm-12">
                        <div class="er-single-service-content">
                            <div class="er-service-content">
                                <div id="content">

                                    <p>

                                        The Group is a celebrated name in the industrial building manufacturing industry in India. The Group has achieved expertise in constructing pre-engineered steel buildings; Self Supported Steel Roofing, HR sections and heavy structures as well as pre-stressed concrete sleepers that epitomise engineering excellence. In addition, it has participated in India’s infrastructure building exercises by fruitfully completing projects in the categories such as irrigation Projects and so on. The Group is also delighted to offer solutions and services in marine projects and for mining industry too. It is indeed a matter of pride for having evolved as a trendsetter in the Indian construction and engineering industry.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12">
                <div class="widget">
                    <h4><span>GROUP</span></h4>
                </div>
                <div class="er-service-list">
                    <ul>
                        <li onclick="location.href='/AboutUs/GroupInroduction';"><a href="/AboutUs/GroupInroduction"><i class="fa fa-angle-right"></i> Introduction</a></li>
                        <li onclick="location.href='/AboutUs/GroupCompanies';"><a href="/AboutUs/GroupCompanies"><i class="fa fa-angle-right"></i> Group Companies</a></li>
                        <li onclick="location.href='/AboutUs/ExpertiseAndCapabilities';" class="active"><a href="/AboutUs/ExpertiseAndCapabilities"><i class="fa fa-angle-right"></i>Expertise & Capabilities</a></li>
                    </ul>
                </div>
                <div class="widget">
                    <h4><span>Download</span></h4>
                    <div class="download-prospectus"> <a href="/DownloadBrochure"><i class="fa fa-download" aria-hidden="true"></i> Download Brochure</a> </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Service Details Goes Here --> 