@{
    ViewData["Title"] = "Steel Roof | Steel Roofing | Steel Sheet Roofing | Galvanized Steel Roofing | Roofing Solution";
}

<!-- Start Header Area background -->


<div id="inner-header">
    <img src="../images/inner_banner/m_b_group.jpg"> <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pages-header-content text-center">


                    <div class="breadcum">
                        <ul>
                            <li><a href="/home">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">GROUP</a></li>
                            <li><a href="#">Group Companies</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Header Area background  -->
<!-- Start Service Details Goes Here -->
<section id="service-full-area" class="service-full-area section-padding">
    <div class="container">
        <div class="row">

            <div class="col-md-9 col-xs-12 right-side animated wow pulse" data-wow-delay=".4s">
                <!--<div class="section-one section-about">
                  <div class="single-item single-item-about">
                    <div class="widget">
                      <h4><span>Introduction</span></h4>
                    </div>

                  </div>
                </div>-->
                <div class="section-two">
                    <div class="col-sm-12">
                        <div class="er-single-service-content">
                            <div class="er-service-content">
                                <div id="content">


                                    <p>The Group has regularly diversified its portfolio by venturing into newer segments and carved its distinct identity by delivering quality turnkey solutions. RoofTech is well-known company that are actively involved in the wide-ranging infrastructure construction projects across India. </p>


                                    <p> From hydro and thermal power stations to irrigation dams; marine projects; roads, bridges and railways; industrial buildings, steel roofing fabrication and more, the Group has established an unmatched success and continues to do so. </p>

                                    <p>  Based in Surat, the Group has a commendable success record of undertaking and managing large-scale turnkey projects delivered on-time. Committed to excellence, the Group is aligned to the needs of highly dynamic construction and engineering industry through continued learning, innovative ideas and by offering customised solutions. </p>

                                    <ul class="list-type">
                                        <li>
                                             Our Companies
                                            <ul class="sub-list-type">
                                                <li>- Rooftech</li>
                                                <li>- Dhruvanshi International</li>
                                                <li>- Yash Import & Export</li>
                                                <li>- Meet Corporation</li>
                                            </ul>

                                        </li>

                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12">
                <div class="widget">
                    <h4><span> GROUP</span></h4>
                </div>
                <div class="er-service-list">
                    <ul>
                        <li onclick="location.href='/AboutUs/GroupInroduction';"><a href="/AboutUs/GroupInroduction"><i class="fa fa-angle-right"></i> Introduction</a></li>
                        <li onclick="location.href='/AboutUs/GroupCompanies';" class="active"><a href="/AboutUs/GroupCompanies"><i class="fa fa-angle-right"></i> Group Companies</a></li>
                        <li onclick="location.href='/AboutUs/ExpertiseAndCapabilities';"><a href="/AboutUs/ExpertiseAndCapabilities"><i class="fa fa-angle-right"></i>Expertise & Capabilities</a></li>
                    </ul>
                </div>
                <div class="widget">
                    <h4><span>Download</span></h4>
                    <div class="download-prospectus"> <a href="/DownloadBrochure"><i class="fa fa-download" aria-hidden="true"></i> Download Brochure</a> </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Service Details Goes Here -->
