@{
    ViewData["Title"] = "Metal Roofing | Roofing Companies | Industrial Roofing | Factory Roofing | Warehouse Roofing";
    ViewData["PageName"] = "Introduction";
}

<!-- Start Header Area background -->

<div id="inner-header">
    <img src="../images/inner_banner/m_b_group.jpg"> <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pages-header-content text-center">


                    <div class="breadcum">
                        <ul>
                            <li><a href="/home">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">GROUP</a></li>
                            <li><a href="#">Introduction</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Header Area background  -->
<!-- Start Service Details Goes Here -->
<section id="service-full-area" class="service-full-area section-padding">
    <div class="container">
        <div class="row">

            <div class="col-md-9 col-xs-12 right-side animated wow bounce" data-wow-delay=".4s">
                <!--<div class="section-one section-about">
                  <div class="single-item single-item-about">
                    <div class="widget">
                      <h4><span>Introduction</span></h4>
                    </div>

                  </div>
                </div>-->
                <div class="section-two">
                    <div class="col-sm-12">
                        <div class="er-single-service-content">
                            <div class="er-service-content">
                                <div id="content">
                                    <!--<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                                      <li  class="active"><a href="#details" data-toggle="tab">Introduction</a></li>
                                    </ul>-->
                                    <p class="text-justify">What started as a dream in 2007 has evolved into the prestigious  Group. The Group has been constantly achieving new milestones in the construction and engineering industry in India. With an annual turnover of INR 5 Million and supported by a team of nearly 200 professionals and workers; the Group pursues technological advancements to keep pace with the fast-developing infrastructure in India. </p>


                                    <p> The Group enjoys the reputation of a pioneer responsible for introducing the world-class technologies and construction standards in India. Take for instance, the example of Rooftech Roofing Solutions that took the roofing industry in India to new heights. Its launch in 2010 introduced the world-class Self Supported Steel Roofing made with patented high standard roofing technology invented in Indo-china as durable industrial roofing for multiple applications. Today, Rooftech has emerged as one of the top metal roofing companies, with expertise in Self Supported Roofing System in India. </p>
                                    <p>Employing sophisticated equipment and supported by an expanding network spanning the length and breadth of India, the  Group dominates the Country's engineering and construction industry having captured a sizeable market share.</p>
                                    <p>The  Group takes pride in leading industry standards in India through quality, innovation and unmatched customer service. </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 left-side">
                <div class="widget">
                    <h4><span> GROUP</span></h4>
                </div>
                <div class="er-service-list">
                    <ul>
                        <li onclick="location.href='/AboutUs/GroupInroduction';" class="active"><a href="/AboutUs/GroupInroduction"><i class="fa fa-angle-right"></i> Introduction</a></li>
                        <li onclick="location.href='/AboutUs/GroupCompanies';"><a href="/AboutUs/GroupCompanies"><i class="fa fa-angle-right"></i> Group Companies</a></li>
                        <li onclick="location.href='/AboutUs/ExpertiseAndCapabilities';"><a href="/AboutUs/ExpertiseAndCapabilities"><i class="fa fa-angle-right"></i>Expertise & Capabilities</a></li>
                        
                    </ul>
                </div>
                <div class="widget">
                    <h4><span>Download</span></h4>
                    <div class="download-prospectus"> <a href="/DownloadBrochure"><i class="fa fa-download" aria-hidden="true"></i> Download Brochure</a> </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Service Details Goes Here --> 