@{
    ViewData["Title"] = "Innovative Roofing Solutions | Roofing Company in India | Trussless Roofing | Arch Roofing | Steel Sheet Roofing";
}


<!-- Start Header Area background -->


<div id="inner-header">
    <img alt="PEB" src="../images/inner_banner/about_proflex.jpg"> <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pages-header-content text-center">


                    <div class="breadcum">
                        <ul>
                            <li><a href="/home">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Rooftech</a></li>
                            <li><a href="#">Achievements</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Header Area background  -->
<!-- Start Service Details Goes Here -->
<section id="service-full-area" class="service-full-area section-padding">
    <div class="container">
        <div class="row">

            <div class="col-md-9 col-xs-12 right-side animated wow bounceIn" data-wow-delay=".4s">
                <!--<div class="section-one section-about">
                  <div class="single-item single-item-about">
                    <div class="widget">
                      <h4><span>Achievements</span></h4>
                    </div>
                  </div>
                </div>-->
                <div class="section-two">
                    <div class="col-sm-12">
                        <div class="er-single-service-content">
                            <div class="er-service-content">
                                <div id="content">












                                    <ul class="list-type">

                                        <li>Rooftech is the only roofing company in India to execute over 10 lakhs square metres of roofing every year since 2010</li>
                                        <li>In 2012, it has been awarded the “Indian PowerBrands” status – the only roof company to be acknowledged in this category</li>
                                        <li>With a market share of more than 75%, it is the first Company to execute steel sheet roofing for State Warehousing Corporation, Indian Railways & various Government Departments across the country</li>
                                        <li>	It is the only Indian metal roofing company to have its own fleet of Hydraulic Telescopic cranes for erection</li>
                                        <li>	It successfully executed over 400 projects every year since 2010 on a pan-Indian basis</li>
                                        <li>	Rooftech has the largest network, spread across 21 States and 5 Union Territories with a dedicated team of 500 employees</li>
                                        <li>	Rooftech has installed 1 crore square meters of Roofing and completed over 5000 Projects till date</li>
                                        <li>	It is the only company to install 10,000 square meters of roofing in just 4 days and also execute a massive job of 2,00,000 square meters at a single location</li>
                                        <li>	Only company to install roof at a staggering height of 5,500 feet (MSL) on a 135 feet tall building</li>
                                        <li>	Only company to execute roofing projects for Japanese, German, Australian, American, and French MNCs</li>
                                        <li>	First company to install a Ground-to-Ground Structure
                                        <li>	Only company in India that offers complete solution to clients, including original American technology, structural load reactions data, conceptual drawings and project management support</li>
                                        <li>Only company to design, fabricate and install large span roofs of 35 meters and above in a hybrid structure, integrating arch panels with arch trusses  </li>
                                        <li>
                                            Rooftech has multiple sets of equipment and its current installed capacities are to the tune of 15 lakh square meters of roofing per year
                                        </li>

                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 left-side">
                <div class="widget">
                    <h4><span>Rooftech</span></h4>
                </div>
                <div class="er-service-list">

                    <ul>
                        <li onclick="location.href='/AboutUs/RooftechInroduction';"><a href="/AboutUs/RooftechInroduction"><i class="fa fa-angle-right"></i> Introduction</a></li>
                        <li onclick="location.href='/AboutUs/RooftechVisionMission';"><a href="/AboutUs/RooftechVisionMission"><i class="fa fa-angle-right"></i>Vision | Mission | Values | Purpose</a></li>
                        <li onclick="location.href='/AboutUs/RooftechJourney';"><a href="/AboutUs/RooftechJourney"><i class="fa fa-angle-right"></i>Journey</a></li>
                        <li onclick="location.href='/AboutUs/RooftechAchievements';" class="active"><a href="/AboutUs/RooftechAchievements"><i class="fa fa-angle-right"></i> Achievements</a></li>
                        <li onclick="location.href='/AboutUs/RooftechTeam';"><a href="/AboutUs/RooftechTeam"><i class="fa fa-angle-right"></i>Team</a></li>
                        <li onclick="location.href='/AboutUs/RooftechNetwork';"><a href="/AboutUs/RooftechNetwork"><i class="fa fa-angle-right"></i> Network</a></li>
                    </ul>

                </div>
                <div class="widget">
                    <h4><span>Download</span></h4>
                    <div class="download-prospectus"> <a href="/DownloadBrochure"><i class="fa fa-download" aria-hidden="true"></i> Download Brochure</a> </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Service Details Goes Here -->
