@{
    ViewData["Title"] = "Corrugated Metal Roofing | Corrugated Roofing Panels | Corrugated Steel Roofing Sheets | Best Metal Roofing Companies in India";
}

<!-- Start Header Area background -->

<div id="inner-header">
    <img src="../images/inner_banner/about_proflex.jpg"> <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pages-header-content text-center">


                    <div class="breadcum">
                        <ul>
                            <li><a href="/home">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Rooftech</a></li>
                            <li><a href="#">Team</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Header Area background  -->
<!-- Start Service Details Goes Here -->
<section id="service-full-area" class="service-full-area section-padding">
    <div class="container">
        <div class="row">

            <div class="col-md-9 col-xs-12 right-side animated wow jello" data-wow-delay=".4s">
                <!--<div class="section-one section-about">
                  <div class="single-item single-item-about">
                    <div class="widget">
                      <h4><span>Team</span></h4>
                    </div>
                  </div>
                </div>-->
                <div class="section-two">
                    <div class="col-sm-12">
                        <div class="er-single-service-content">
                            <div class="er-service-content">
                                <div id="content">

                                    <p>  Rooftech has a team of 300 professionals, driven by the passion to live by its values and deliver the best to its clients. Its people are its biggest differentiator and greatest asset, driving Rooftech to be one of the best metal roofing companies in India. Team Rooftech is driven by results, and also believes in inculcating a friendly and collaborative work environment within the organisation. Team Rooftech is young and dynamic, working towards making breakthrough experiences in the field of corrugated metal roofing and self supported roof. </p>
                                    <p>
                                        Rooftech has a strong presence in the Country, with regional offices and sales teams across India. Rooftech does not have any agents or dealers in India.

                                    </p>


                                    <div class="widget">
                                        <h4><span>Team Rooftech</span></h4>
                                    </div>
                                    <div class="about-us-slider">
                                        <div class="service-slider flex-slider">
                                            <ul class="slides">
                                                <li><img src="../images/team_rooftech/team_rooftech1.jpg" alt="" /></li>
                                                <li><img src="../images/team_rooftech/team_rooftech2.jpg" alt="" /></li>

                                            </ul>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 left-side">
                <div class="widget">
                    <h4><span>Rooftech</span></h4>
                </div>
                <div class="er-service-list">
                    <ul>
                        <li onclick="location.href='/AboutUs/RooftechInroduction';"><a href="/AboutUs/RooftechInroduction"><i class="fa fa-angle-right"></i> Introduction</a></li>
                        <li onclick="location.href='/AboutUs/RooftechVisionMission';"><a href="/AboutUs/RooftechVisionMission"><i class="fa fa-angle-right"></i>Vision | Mission | Values | Purpose</a></li>
                        <li onclick="location.href='/AboutUs/RooftechJourney';"><a href="/AboutUs/RooftechJourney"><i class="fa fa-angle-right"></i>Journey</a></li>
                        <li onclick="location.href='/AboutUs/RooftechAchievements';"><a href="/AboutUs/RooftechAchievements"><i class="fa fa-angle-right"></i> Achievements</a></li>
                        <li onclick="location.href='/AboutUs/RooftechTeam';"  class="active"><a href="/AboutUs/RooftechTeam"><i class="fa fa-angle-right"></i>Team</a></li>
                        <li onclick="location.href='/AboutUs/RooftechNetwork';"><a href="/AboutUs/RooftechNetwork"><i class="fa fa-angle-right"></i> Network</a></li>
                    </ul>
                </div>
                <div class="widget">
                    <h4><span>Download</span></h4>
                    <div class="download-prospectus"> <a href="/DownloadBrochure"><i class="fa fa-download" aria-hidden="true"></i> Download Brochure</a> </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Service Details Goes Here --> 