@{
    ViewData["Title"] = "Roofing | Curved Roof | Corrugated Metal Roofing | Corrugated Steel Roofing Sheets | Corrugated Roofing Panels";
}

<!-- Start Header Area background -->

<div id="inner-header">
    <img src="../images/inner_banner/about_proflex.jpg"> <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pages-header-content text-center">


                    <div class="breadcum">
                        <ul>
                            <li><a href="/home">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Rooftech</a></li>
                            <li><a href="#">Vision | Mission | Values | Purpose</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Header Area background  -->
<!-- Start Service Details Goes Here -->
<section id="service-full-area" class="service-full-area section-padding">
    <div class="container">
        <div class="row">

            <div class="col-md-9 col-xs-12 right-side animated wow shake" data-wow-delay=".4s">
                <!--<div class="section-one section-about">
                  <div class="single-item single-item-about">
                    <div class="widget">
                      <h4><span>Vision | Mission | Values | Purpose</span></h4>
                    </div>
                  </div>
                </div>-->
                <div class="section-two">
                    <div class="col-sm-12">
                        <div class="er-single-service-content">
                            <div class="er-service-content">
                                <div id="content">
                                    <strong>Vision Statement </strong>
                                    <div class="gap-10"></div>
                                    <p>“To be the knowledge leader in the roofing industry by synergising the best-in-class processes, practices, people and partnerships"</p>
                                    <div class="border-top"></div>
                                    <div class="border-bottom"></div>
                                    <strong>Mission Statement </strong>
                                    <div class="gap-10"></div>
                                    <p>“To consistently deliver innovative and future-ready roofing and steel construction solutions through enterprise, expertise, excellence and empowerment”</p>
                                    <div class="border-top"></div>
                                    <div class="border-bottom"></div>
                                    <strong>Our Values </strong>
                                    <div class="gap-10"></div>

                                    <ul class="list-type">
                                        <li>
                                            <h5 class="value-sub-head">Flawless customer service</h5>
                                            <p>Client is the reason why we are in business and we will always strive towards setting flawless servicing benchmarks in this industry</p>
                                        </li>
                                        <li>
                                            <h5 class="value-sub-head">Deliver promise </h5>
                                            <p>We remain committed to deliver what we have promised</p>
                                        </li>
                                        <li>
                                            <h5 class="value-sub-head">Abide by our value systems </h5>
                                            <p>We will always abide by the values of trust, honesty, dedication, accountability, teamwork, knowledge, long-term partnership, impeccable quality and more so, unflagging passion</p>
                                        </li>
                                        <li>
                                            <h5 class="value-sub-head">Create values </h5>
                                            <p>We will consistently create value for our clients and the roofing industry through our innovative solutions and lead by example</p>
                                        </li>


                                    </ul>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 left-side">
                <div class="widget">
                    <h4><span>Rooftech</span></h4>
                </div>
                <div class="er-service-list">
                    <ul>
                        <li onclick="location.href='/AboutUs/RooftechInroduction';"><a href="/AboutUs/RooftechInroduction"><i class="fa fa-angle-right"></i> Introduction</a></li>
                        <li onclick="location.href='/AboutUs/RooftechVisionMission';" class="active"><a href="/AboutUs/RooftechVisionMission"><i class="fa fa-angle-right"></i>Vision | Mission | Values | Purpose</a></li>
                        <li onclick="location.href='/AboutUs/RooftechJourney';"><a href="/AboutUs/RooftechJourney"><i class="fa fa-angle-right"></i>Journey</a></li>
                        <li onclick="location.href='/AboutUs/RooftechAchievements';"><a href="/AboutUs/RooftechAchievements"><i class="fa fa-angle-right"></i> Achievements</a></li>
                        <li onclick="location.href='/AboutUs/RooftechTeam';"><a href="/AboutUs/RooftechTeam"><i class="fa fa-angle-right"></i>Team</a></li>
                        <li onclick="location.href='/AboutUs/RooftechNetwork';"><a href="/AboutUs/RooftechNetwork"><i class="fa fa-angle-right"></i> Network</a></li>
                    </ul>
                </div>
                <div class="widget">
                    <h4><span>Download</span></h4>
                    <div class="download-prospectus"> <a href="/DownloadBrochure"><i class="fa fa-download" aria-hidden="true"></i> Download Brochure</a> </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Service Details Goes Here --> 