@{
    ViewData["Title"] = "Innovative Roofing Solutions | Roofing Company in India | Trussless Roofing | Arch Roofing | Steel Sheet Roofing";
}

<!-- Start Header Area background -->


<div id="inner-header">
    <img src="../images/inner_banner/about_proflex.jpg"> <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pages-header-content text-center">


                    <div class="breadcum">
                        <ul>
                            <li><a href="/home">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Rooftech</a></li>
                            <li><a href="#">Network</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Header Area background  -->
<!-- Start Service Details Goes Here -->
<section id="service-full-area" class="service-full-area section-padding">
    <div class="container">
        <div class="row">

            <div class="col-md-9 col-xs-12 right-side animated wow wobble" data-wow-delay=".4s">
                <!--<div class="section-one section-about">
                  <div class="single-item single-item-about">
                    <div class="widget">
                      <h4><span>Network</span></h4>
                    </div>
                  </div>
                </div>-->
                <div class="section-two">
                    <div class="col-sm-12">
                        <div class="er-single-service-content">
                            <div class="er-service-content">
                                <div id="content">

                                    <p>  Rooftech Network spans top cities in India with the corporate office in Surat.</p>
                                    <p>Rooftech also has branch representatives at all over india. Its ‘within-the-customer-reach’ network allows Rooftech to deliver exceptional Self Supported Roofing Solutions across the Country.  Big as well as small customers across sectors benefit from the services of this network that adheres to the highest standards of quality and performance.  </p>
                                    <p>Rooftech Network is continuously growing and evolving, making Rooftech a premier and fastest Self Supported Steel Roofing Company in India. </p>





                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 left-side">
                <div class="widget">
                    <h4><span>Rooftech</span></h4>
                </div>
                <div class="er-service-list">
                    <ul>
                        <li onclick="location.href='/AboutUs/RooftechInroduction';"><a href="/AboutUs/RooftechInroduction"><i class="fa fa-angle-right"></i> Introduction</a></li>
                        <li onclick="location.href='/AboutUs/RooftechVisionMission';"><a href="/AboutUs/RooftechVisionMission"><i class="fa fa-angle-right"></i>Vision | Mission | Values | Purpose</a></li>
                        <li onclick="location.href='/AboutUs/RooftechJourney';"><a href="/AboutUs/RooftechJourney"><i class="fa fa-angle-right"></i>Journey</a></li>
                        <li onclick="location.href='/AboutUs/RooftechAchievements';"><a href="/AboutUs/RooftechAchievements"><i class="fa fa-angle-right"></i> Achievements</a></li>
                        <li onclick="location.href='/AboutUs/RooftechTeam';"><a href="/AboutUs/RooftechTeam"><i class="fa fa-angle-right"></i>Team</a></li>
                        <li onclick="location.href='/AboutUs/RooftechNetwork';" class="active"><a href="/AboutUs/RooftechNetwork"><i class="fa fa-angle-right"></i> Network</a></li>
                    </ul>
                </div>
                <div class="widget">
                    <h4><span>Download</span></h4>
                    <div class="download-prospectus"> <a href="/DownloadBrochure"><i class="fa fa-download" aria-hidden="true"></i> Download Brochure</a> </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Service Details Goes Here --> 