@{
    ViewData["Title"] = "Corrugated Metal Roofing | Corrugated Roofing Panels | Corrugated Steel Roofing Sheets | Best Metal Roofing Companies in India ";
}

<!-- Start Header Area background -->


<div id="inner-header">
    <img src="../images/inner_banner/about_proflex.jpg"> <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pages-header-content text-center">


                    <div class="breadcum">
                        <ul>
                            <li><a href="/home">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Rooftech</a></li>
                            <li><a href="#">Journey </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Header Area background  -->
<!-- Start Service Details Goes Here -->
<section id="service-full-area" class="service-full-area section-padding">
    <div class="container">
        <div class="row">

            <div class="col-md-9 col-xs-12 right-side animated wow swing" data-wow-delay=".4s">
                <!--<div class="section-one section-about">
                  <div class="single-item single-item-about">
                    <div class="widget">
                      <h4><span>Journey </span></h4>
                    </div>
                  </div>
                </div>-->
                <div class="section-two">
                    <div class="col-sm-12">
                        <div class="er-single-service-content">
                            <div class="er-service-content">
                                <div id="content">
                                    <p>Rooftech started its journey in 2010, emerging as a pioneer in Self Supported Steel Roofing in India. The company expanded its business across 3 States in 2012. Gradually, Rooftech spread its wings to Southern India in 2012, emerging as one of the fastest growing roofing companies in India. In 2013, it installed the largest roofing system of 10,000 square metres in a single project, revolutionising the roofing industry by establishing its presence in large-scale projects.</p>
                                    <p>
                                        In 2013, Rooftech became the company to execute roofing for State Warehousing Corporation. Rooftech also extended its reach across in India in this year. In the year 2014, it set a benchmark in the Industry by installing the fastest roofing system of 5000 square meters in just 4 days and in 2011     it executed challenging industrial roofing projects for MNCs. In 2013, it reaffirmed its position as an industry leader in steel roof by executing the single largest order for HAFED. In 2014, it became the first to install the concept of Cantilever roofing at Nagpur Railway Station. In 2015, it became the first to have Solar Panels installed on Self Supported Steel Roof. In 2016, first to execute a massive 40 meters span hybrid structure using a combination of Arch Truss and Self Supported Steel Roof.
                                    </p>













                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 left-side">
                <div class="widget">
                    <h4><span>Rooftech</span></h4>
                </div>
                <div class="er-service-list">
                    <ul>
                        <li onclick="location.href='/AboutUs/RooftechInroduction';"><a href="/AboutUs/RooftechInroduction"><i class="fa fa-angle-right"></i> Introduction</a></li>
                        <li onclick="location.href='/AboutUs/RooftechVisionMission';"><a href="/AboutUs/RooftechVisionMission"><i class="fa fa-angle-right"></i>Vision | Mission | Values | Purpose</a></li>
                        <li onclick="location.href='/AboutUs/RooftechJourney';" class="active"><a href="/AboutUs/RooftechJourney"><i class="fa fa-angle-right"></i>Journey</a></li>
                        <li onclick="location.href='/AboutUs/RooftechAchievements';"><a href="/AboutUs/RooftechAchievements"><i class="fa fa-angle-right"></i> Achievements</a></li>
                        <li onclick="location.href='/AboutUs/RooftechTeam';"><a href="/AboutUs/RooftechTeam"><i class="fa fa-angle-right"></i>Team</a></li>
                        <li onclick="location.href='/AboutUs/RooftechNetwork';"><a href="/AboutUs/RooftechNetwork"><i class="fa fa-angle-right"></i> Network</a></li>
                    </ul>
                </div>
                <div class="widget">
                    <h4><span>Download</span></h4>
                    <div class="download-prospectus"> <a href="/DownloadBrochure"><i class="fa fa-download" aria-hidden="true"></i> Download Brochure</a> </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Service Details Goes Here --> 