@{
    ViewData["Title"] = "Industrial Roofing | Metal Roofing Manufacturers | Corrugated Steel Roofing Sheets | Galvalume Metal Roofing";
}

<!-- Start Header Area background -->



<div id="inner-header">
    <img alt="PEB" src="../images/inner_banner/about_proflex.jpg"> <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pages-header-content text-center">


                    <div class="breadcum">
                        <ul>
                            <li><a href="/home">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Rooftech</a></li>
                            <li><a href="#">Introduction</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Header Area background  -->
<!-- Start Service Details Goes Here -->
<section id="service-full-area" class="service-full-area section-padding">
    <div class="container">
        <div class="row">

            <div class="col-md-9 col-xs-12 right-side animated wow flash" data-wow-delay=".4s">
                <!--<div class="section-one section-about">
                  <div class="single-item single-item-about">
                    <div class="widget">
                      <h4><span>Introduction</span></h4>
                    </div>

                  </div>
                </div>-->
                <div class="section-two">
                    <div class="col-sm-12">
                        <div class="er-single-service-content">
                            <div class="er-service-content">
                                <div id="content">

                                    <p>Rooftech, a division of Dhruvanshi International. and promoted by the Group, has revolutionized the roofing industry with its path breaking “Self Supported Steel Roofing” solution. Established in 2010, the leading roof company is a pioneer of Self Supported Steel Roofing in India. This arch roofing system, first invented and introduced in America, is proven and being utilized in over 60 countries for the last 40 years.  </p>


                                    <p> Over the last 15 years as a leading metal roofing fabricator, Rooftech has successfully executed over 5000 projects across India, which are designed to perfection and built to last. Patronage of its pan-India clients that includes Indian Conglomerates, MNCs and business owners has made Rooftech an acknowledged leader in the industry; making it name synonymous with the Self Supported Roofing System and Galvalume  sheet roofing in India, with over 75% market share. Today, Rooftech is most preferred partner of choice for clients and organizations across varied industries such as engineering, warehousing, rice mills, textile, food & beverages, pharmaceutical, cement, railways, plastics, sugar factories, packaging and many more. </p>

                                    <p>  Rooftech is the only metal roofing company in India to offer comprehensive Self Supported Steel Roofing solutions, including conceptual sketches, authentic and original American technology, structural load reactions data and project management support. All of its state-of-the-art equipments are of American make and only Rooftech has its own fleet of hydraulic telescopic cranes for erection of industrial roofing.  </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 left-side">
                <div class="widget">
                    <h4><span>Rooftech</span></h4>
                </div>
                <div class="er-service-list">
                    <ul>
                        <li onclick="location.href='/AboutUs/RooftechInroduction';" class="active"><a href="/AboutUs/RooftechInroduction"><i class="fa fa-angle-right"></i> Introduction</a></li>
                        <li onclick="location.href='/AboutUs/RooftechVisionMission';"><a href="/AboutUs/RooftechVisionMission"><i class="fa fa-angle-right"></i>Vision | Mission | Values | Purpose</a></li>
                        <li onclick="location.href='/AboutUs/RooftechJourney';"><a href="/AboutUs/RooftechJourney"><i class="fa fa-angle-right"></i>Journey</a></li>
                        <li onclick="location.href='/AboutUs/RooftechAchievements';"><a href="/AboutUs/RooftechAchievements"><i class="fa fa-angle-right"></i> Achievements</a></li>
                        <li onclick="location.href='/AboutUs/RooftechTeam';"><a href="/AboutUs/RooftechTeam"><i class="fa fa-angle-right"></i>Team</a></li>
                        <li onclick="location.href='/AboutUs/RooftechNetwork';"><a href="/AboutUs/RooftechNetwork"><i class="fa fa-angle-right"></i> Network</a></li>
                    </ul>
                </div>
                <div class="widget">
                    <h4><span>Download</span></h4>
                    <div class="download-prospectus"> <a href="/DownloadBrochure"><i class="fa fa-download" aria-hidden="true"></i> Download Brochure</a> </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Service Details Goes Here --> 