@{
    ViewData["Title"] = "Roofing | Conventional Roofing System | Wind Operated Turbo Ventilators | Transparent Polycarbonate Skylights | Insulations and False Ceiling | Roofing in India";
    ViewData["PageName"] = "Accessories";
}

<!-- Start Header Area background -->


<div id="inner-header">
    <img src="../images/inner_banner/sollutions.jpg"> <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pages-header-content text-center">


                    <div class="breadcum">
                        <ul>
                            <li><a href="/home">Home</a></li>

                            <li><a href="#">Solutions</a></li>
                            <li><a href="#">Accessories</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Header Area background  -->
<!-- Start Service Details Goes Here -->
<section id="service-full-area" class="service-full-area section-padding">
    <div class="container">
        <div class="row">

            <div class="col-md-9 col-xs-12 right-side animated wow rubberBand" data-wow-delay=".4s">
                <!--<div class="section-one section-about">
                  <div class="single-item single-item-about">
                    <div class="widget">
                      <h4><span>Introduction</span></h4>
                    </div>
                  </div>
                </div>-->
                <div class="section-two">
                    <div class="col-sm-12">
                        <div class="er-single-service-content">
                            <div class="er-service-content">
                                <div id="content">

                                    <p>With Rooftech Roofing you can use all the accessories that are applied in a conventional roofing system. For example: Hangers, wind operated turbo ventilators, transparent polycarbonate skylights, insulations and false ceiling amongst others.   </p>

                                    <strong>Turbo Ventilators </strong>
                                    <div class="gap-10"></div>
                                    <p>Wind-Operated | Single Module | Double Module | Triple Module Turbo Ventilators, which are fixed over the roofs, help in reducing problems 	associated with heat and moisture as they accumulate hot air from inside the building using natural convection.</p>
                                    <p>Since they work on the simple principle of wind-assisted rotation and stack effect, they do not require electricity and can rotate even at a low wind speed of 1 kmph., while remaining stable at a high wind speed of 100 kmph.</p>

                                    <strong> Features  </strong>
                                    <div class="gap-10"></div>

                                    <ul class="list-type">
                                        <li>	High performance and cost-effective </li>
                                        <li>Efficient noiseless ventilation </li>
                                        <li>Durable with almost zero maintenance</li>
                                        <li>Designed to reduce condensation and mildew</li>
                                        <li>Architecturally and aesthetically appealing</li>
                                        <li>Precision balanced, low inertia head design, with Vari-pitch adapter base</li>


                                    </ul>

                                    <strong> Skylights  </strong>
                                    <div class="gap-10"></div>

                                    <p>
                                        Rooftech offers Skylights made from polycarbonate for natural lighting. They can 	be 	fixed at regular intervals along the length of the roof.
                                        Different available sizes: 7 ft. | 14 ft. | 21 ft. | 28 ft.
                                    </p>


                                    <strong>  Hangers</strong>
                                    <div class="gap-10"></div>
                                    <p>Metal hooks or hangers are used to suspend light fixtures, cable trays, false 	ceilings, ducts and point loads, etc. Placed at pre-determined locations, each hanger 	or hook has a different load carrying capacity, which is defined by the 	thickness of 	the material chosen. </p>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 left-side">
                <div class="widget">
                    <h4><span>Solutions</span></h4>
                </div>
                <div class="er-service-list">
                    <ul>
                        <li onclick="location.href='/Solutions/applications';"><a href="/Solutions/applications"><i class="fa fa-angle-right"></i> Applications</a></li>
                        <li onclick="location.href='/Solutions/versatility';"><a href="/Solutions/versatility"><i class="fa fa-angle-right"></i>Versatility </a></li>
                        <li onclick="location.href='/Solutions/accessories';" class="active"><a href="/Solutions/accessories"><i class="fa fa-angle-right"></i>Accessories</a></li>


                    </ul>
                </div>
                <div class="widget">
                    <h4><span>Download</span></h4>
                    <div class="download-prospectus"> <a href="/DownloadBrochure"><i class="fa fa-download" aria-hidden="true"></i> Download Brochure</a> </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Service Details Goes Here --> 