@{
    ViewData["Title"] = "Roofing Solutions | Self Supported Roofing System | Roofing System | Fastest Roofing | Roofing in India | Roofing Companies in India";
    ViewData["PageName"] = "Applications";
}

<!-- Start Header Area background -->


<div id="inner-header">
    <img src="../images/inner_banner/sollutions.jpg"> <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pages-header-content text-center">


                    <div class="breadcum">
                        <ul>
                            <li><a href="/home">Home</a></li>

                            <li><a href="#">Solutions</a></li>
                            <li><a href="#">Applications</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Header Area background  -->
<!-- Start Service Details Goes Here -->
<section id="service-full-area" class="service-full-area section-padding">
    <div class="container">
        <div class="row">

            <div class="col-md-9 col-xs-12 right-side animated wow fadeInDown" data-wow-delay=".4s">
                <!--<div class="section-one section-about">
                  <div class="single-item single-item-about">
                    <div class="widget">
                      <h4><span>Introduction</span></h4>
                    </div>
                  </div>
                </div>-->
                <div class="section-two">
                    <div class="col-sm-12">
                        <div class="er-single-service-content">
                            <div class="er-service-content">
                                <div id="content">

                                    <p>Rooftech uses the latest American Technology to provide industrial and commercial roofing solutions to diverse sectors. A name synonymous with self supported steel roofing system, Rooftech is a preferred partner across varied industries:</p>

                                    <strong>Applications </strong>
                                    <div class="gap-10"></div>

                                    <ul class="list-type">
                                        <li>Aircraft Hangars</li>
                                        <li>Automobile</li>
                                        <li> Cattleshed</li>
                                        <li>Cement</li>
                                        <li>Community & Exhibition Halls</li>
                                        <li>Commercial & Retail outlets </li>
                                        <li>Dairy</li>
                                        <li>Defence</li>
                                        <li>Educational Institute</li>
                                        <li>Electrical and Electronics</li>
                                        <li>Engineering</li>
                                        <li>Food & Beverages</li>
                                        <li>Industrial Sheds</li>
                                        <li>Manufacturing and Processing</li>
                                        <li>Plastic and Packaging</li>
                                        <li>Pharmaceuticals and Chemicals </li>
                                        <li>Railways</li>
                                        <li>Rice Mills</li>
                                        <li>Sports Complex</li>
                                        <li>Sugar </li>
                                        <li>Textile</li>
                                        <li>Toll plaza</li>
                                        <li>Warehouse and Logistics</li>


                                    </ul>













                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 left-side">
                <div class="widget">
                    <h4><span>Solutions</span></h4>
                </div>
                <div class="er-service-list">
                    <ul>
                        <li onclick="location.href='/Solutions/applications';" class="active"><a href="/Solutions/applications"><i class="fa fa-angle-right"></i> Applications</a></li>
                        <li onclick="location.href='/Solutions/versatility';"><a href="/Solutions/versatility"><i class="fa fa-angle-right"></i>Versatility </a></li>
                        <li onclick="location.href='/Solutions/accessories';"><a href="/Solutions/accessories"><i class="fa fa-angle-right"></i>Accessories</a></li>


                    </ul>
                </div>
                <div class="widget">
                    <h4><span>Download</span></h4>
                    <div class="download-prospectus"> <a href="/DownloadBrochure"><i class="fa fa-download" aria-hidden="true"></i> Download Brochure</a> </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Service Details Goes Here -->
