@{
    ViewData["Title"] = "Roofing Solutions | Roofing System | Fastest Roofing | Roofing in India ";
    ViewData["PageName"] = "Versatility";
}

<!-- Start Header Area background -->


<div id="inner-header">
    <img src="../images/inner_banner/sollutions.jpg"> <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pages-header-content text-center">


                    <div class="breadcum">
                        <ul>
                            <li><a href="/home">Home</a></li>

                            <li><a href="#">Solutions</a></li>
                            <li><a href="#">Versatility</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Header Area background  -->
<!-- Start Service Details Goes Here -->
<section id="service-full-area" class="service-full-area section-padding">
    <div class="container">
        <div class="row">

            <div class="col-md-9 col-xs-12 right-side animated wow bounceInLeft" data-wow-delay=".4s">
                <!--<div class="section-one section-about">
                  <div class="single-item single-item-about">
                    <div class="widget">
                      <h4><span>Introduction</span></h4>
                    </div>
                  </div>
                </div>-->
                <div class="section-two">
                    <div class="col-sm-12">
                        <div class="er-single-service-content">
                            <div class="er-service-content">
                                <div id="content">

                                    <p>Innovation is at the core of Rooftech. We provide best-in-class solutions across industries by offering a diverse range of structures and roof types. Pictures of this application.  </p>
                                    <div class="about-us-slider">
                                        <div class="service-slider flex-slider">
                                            <ul class="slides">
                                                <li><img src="images/solutions/versatility/versatility1.jpg" alt="" /></li>
                                                <li><img src="images/solutions/versatility/versatility2.jpg" alt="" /></li>
                                                <li><img src="images/solutions/versatility/versatility3.jpg" alt="" /></li>
                                                <li><img src="images/solutions/versatility/versatility4.jpg" alt="" /></li>

                                            </ul>
                                        </div>
                                    </div>
                                    <strong>Versatility </strong>
                                    <div class="gap-10"></div>

                                    <ul class="list-type">
                                        <li>Elevated base</li>
                                        <li>Ground to Ground</li>
                                        <li>Roof with RCC Structure</li>
                                        <li>Roof with Steel Structure</li>
                                        <li>L Section</li>
                                        <li>Differential Height</li>
                                        <li>Ducts Hanged from Roof</li>
                                        <li>Differential heights</li>
                                        <li>Half Arch</li>
                                        <li>Without Gutter</li>
                                        <li>Multiple Bays</li>



                                    </ul>












                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 left-side">
                <div class="widget">
                    <h4><span>Solutions</span></h4>
                </div>
                <div class="er-service-list">
                    <ul>
                        <li onclick="location.href='/Solutions/versatility';"><a href="/Solutions/versatility"><i class="fa fa-angle-right"></i> Applications</a></li>
                        <li onclick="location.href='/Solutions/versatility';" class="active"><a href="/Solutions/versatility"><i class="fa fa-angle-right"></i>Versatility </a></li>
                        <li onclick="location.href='/Solutions/accessories';"><a href="/Solutions/accessories"><i class="fa fa-angle-right"></i>Accessories</a></li>


                    </ul>
                </div>
                <div class="widget">
                    <h4><span>Download</span></h4>
                    <div class="download-prospectus"> <a href="/DownloadBrochure"><i class="fa fa-download" aria-hidden="true"></i> Download Brochure</a> </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Service Details Goes Here -->
