@{
    ViewData["Title"] = "Roofing Solutions | Galvalume Sheet Roofing | Arch Roofing | Warehouse Roofing | Corrugated Roofing Panels | Corrugated Steel Roofing Sheets | Corrugated Metal Roofing | Curved Roofing Systems | Galvalume Sheet Roofing | Curved Roof";
    ViewData["PageName"] = "Installation";
}

<!-- Start Header Area background -->


<div id="inner-header">
    <img src="../images/inner_banner/roofing.jpg"> <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pages-header-content text-center">


                    <div class="breadcum">
                        <ul>
                            <li><a href="/home">Home</a></li>

                            <li><a href="#">Roofing</a></li>
                            <li><a href="#">Installation</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Header Area background  -->
<!-- Start Service Details Goes Here -->
<section id="service-full-area" class="service-full-area section-padding">
    <div class="container">
        <div class="row">

            <div class="col-md-9 col-xs-12 right-side  animated wow bounceInDown" data-wow-delay=".4s">
                <!--<div class="section-one section-about">
                  <div class="single-item single-item-about">
                    <div class="widget">
                      <h4><span>Introduction</span></h4>
                    </div>
                  </div>
                </div>-->
                <div class="section-two">
                    <div class="col-sm-12">
                        <div class="er-single-service-content">
                            <div class="er-service-content">
                                <div id="content">
                                    <div class="about-us-slider">
                                        <div class="service-slider flex-slider">
                                            <ul class="slides">
                                                <li><img src="../images/roofing_installation/img1.jpg" alt="" /></li>
                                                <li><img src="../images/roofing_installation/img2.jpg" alt="" /></li>
                                                <li><img src="../images/roofing_installation/img3.jpg" alt="" /></li>
                                                <li><img src="../images/roofing_installation/img4.jpg" alt="" /></li>
                                                <li><img src="../images/roofing_installation/img5.jpg" alt="" /></li>
                                                <li><img src="../images/roofing_installation/img6.jpg" alt="" /></li>
                                                <li><img src="../images/roofing_installation/img7.jpg" alt="" /></li>
                                                <li><img src="../images/roofing_installation/img8.jpg" alt="" /></li>
                                                <li><img src="../images/roofing_installation/img9.jpg" alt="" /></li>
                                                <li><img src="../images/roofing_installation/img10.jpg" alt="" /></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p>Rooftech Roofing Solutions Technology uses high quality, high grade, pre-coated Galvalume Steel as the basic Raw material. The panel forming and installation is a 100% on-site process. The Mobile panel forming Units (roll-forming/panel fabrication equipment) along with crane, seaming and other equipments are transported to project sites with required manpower, enabling panel forming & installation instantaneously.</p>
                                    <div class="clearfix"></div>
                                    <p> This nature of the process allows high-speed operations, bringing substantial benefits where time is a crucial factor. Precisely, the advantages of this new-age technology are many and favorable.</p>
                                    <p>The raw-material, i.e., steel coils of the designed width, is fed into the Mobile panel forming Units. This Mobile panel forming Unit equipment forms profiled panels having the desired finished width, length and curvature, in two stages. The installation shall start from one end of the building, and moving along the length of the building, the process shall be completed. These panels are fixed to RCC gutter beam with Anchor bolts or with Nut Bolts in case of Steel Beams at both ends.</p>
                                    <p>The roofing panels are installed over concrete/steel gutter-beams (constructed by the client). The conceptual dimensional drawing of the required gutter-beams will be available to the customer from ROOFTECH. we are roofing company. The RCC/ steel sub-structure has to be designed considering the arch reaction data & load combinations given by Rooftech Roofing Solutions. It shall be within the purview of the Consulting Engineer to ensure the structure is designed to cater to the adverse load conditions.</p>
                                    <p>We are No.1 roofing company for galvalume sheet roofing, arch roofing, warehouse roofing, corrugated roofing panels, corrugated steel roofing sheets, corrugated metal roofing, curved roofing systems, galvalume sheet roofing, and curved roof.</p>














                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 left-side">
                <div class="widget">
                    <h4><span>Roofing</span></h4>
                </div>
                <div class="er-service-list">
                    <ul>
                        <li onclick="location.href='/Roofing/technology';"><a href="/Roofing/technology"><i class="fa fa-angle-right"></i> Technology</a></li>
                        <li onclick="location.href='/Roofing/material';"><a href="/Roofing/material"><i class="fa fa-angle-right"></i>Material</a></li>
                        <li onclick="location.href='/Roofing/product';"><a href="/Roofing/product"><i class="fa fa-angle-right"></i>Product</a></li>

                        <li onclick="location.href='/Roofing/design_and_drawing';"><a href="/Roofing/design_and_drawing"><i class="fa fa-angle-right"></i>Design and Drawing </a></li>
                        <li onclick="location.href='/Roofing/installation';" class="active"><a href="/Roofing/installation"><i class="fa fa-angle-right"></i>Installation</a></li>

                    </ul>
                </div>
                <div class="widget">
                    <h4><span>Download</span></h4>
                    <div class="download-prospectus"> <a href="/DownloadBrochure"><i class="fa fa-download" aria-hidden="true"></i> Download Brochure</a> </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Service Details Goes Here --> 