@{
    ViewData["Title"] = "Roof | Galvalume Roof | Galvalume Sheet Roofing | Galvanized Steel Roofing | Metal Roofing Companies | Corrugated Metal Roofing | Corrugated Roofing Panels | Corrugated Steel Roofing Sheets";
    ViewData["PageName"] = "Material";
}

<!-- Start Header Area background -->


<div id="inner-header">
    <img src="../images/inner_banner/roofing.jpg"> <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pages-header-content text-center">


                    <div class="breadcum">
                        <ul>
                            <li><a href="/home">Home</a></li>

                            <li><a href="#">Roofing</a></li>
                            <li><a href="#">Material</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Header Area background  -->
<!-- Start Service Details Goes Here -->
<section id="service-full-area" class="service-full-area section-padding">
    <div class="container">
        <div class="row">

            <div class="col-md-9 col-xs-12 right-side animated  wow fadeInRight" data-wow-delay=".4s">
                <!--<div class="section-one section-about">
                  <div class="single-item single-item-about">
                    <div class="widget">
                      <h4><span>Introduction</span></h4>
                    </div>
                  </div>
                </div>-->
                <div class="section-two">
                    <div class="col-sm-12">
                        <div class="er-single-service-content">
                            <div class="er-service-content">
                                <div id="content">

                                    <p>Rooftech uses excellent quality, structural grade GALVALUME<sup>®</sup> Steel Sheet which is carbon steel sheet that has been pre-coated with aluminium-zinc alloy through continuous hot dip process. </p>
                                    <p>The basic metal used in the corrugated steel roofing sheets is having minimum Yield Strength of 350 MPa steel, coated by 150 GSM GALVALUME alloy and then coated/ painted with RMP colours. Its approximate life is 30 to 40 years, which makes it an ideal choice for building and construction. Rooftech uses ASTM A 792 Structural Grade D material, with minimum yield strength of 350 MPa.</p>
                                    <strong>Specifications </strong>
                                    <div class="gap-10"></div>

                                    <p>The product used by Rooftech normally contains 55% aluminium, 43.5% zinc and 1.5% silicon by weight, and is best utilized for factory roof solutions because of its corrosion resistance and heat reflectivity properties. Silicon provides strong coating adhesion to the steel substrate when the product is drawn, roll-formed or bent during fabrication process. </p>
                                    <table>
                                        <thead>

                                        </thead>
                                        <tbody>
                                            <tr class="bg-color-tr">
                                                <td>SUBSTRATE</td>
                                                <td>ASTM A 792 D </td>

                                            </tr>
                                            <tr>
                                                <td>STEEL GRADE</td>
                                                <td>D </td>

                                            </tr>
                                            <tr class="bg-color-tr">
                                                <td>YIELD STRENGHT(MPa)</td>
                                                <td>350 ( minimum) </td>

                                            </tr>
                                            <tr>
                                                <td>ZINC COATING(GSM/ Meter Square)</td>
                                                <td>150</td>

                                            </tr>
                                            <tr class="bg-color-tr">
                                                <td>PAINT COAT</td>
                                                <td>Regular Modified Polyester (RMP) Suitable for Roll Forming</td>

                                            </tr>
                                            <tr>
                                                <td>TOP COAT</td>
                                                <td>20-25 Microns</td>

                                            </tr>
                                            <tr class="bg-color-tr">
                                                <td>BOTTOM COAT</td>
                                                <td>10-12 Microns</td>

                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="gap-10"></div>
                                    <strong> Comparison Between Galvalume and Galvanised Steel</strong>
                                    <div class="gap-10"></div>
                                    <p>Here’s why GALVALUME roof is considered one of the best pre-coated steel products for roofing.</p>
                                    <p>GALVALUME metal roofing is pre-coated with Aluminium, Zinc and Silicon, which makes it highly resilient with high reflectivity and corrosion resistance properties unlike Galvanized steel, which is only coated with Zinc. The coating thickness of GALVALUME sheet roofing is AZ 150 GSM, whereas Galvanized steel sheets are usually having only 120 GSM/m2 coating of Zinc.</p>
                                    <p>GALVALUME roofing is highly corrosion resistant, and transmits heat at a rate of only 65 watt/m2 as compared to Galvanized steel, which transmits at a rate of 120 watt/m2. Moreover, GALVALUME roof is more suitable for extreme environmental conditions.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 left-side">
                <div class="widget">
                    <h4><span>Roofing</span></h4>
                </div>
                <div class="er-service-list">
                    <ul>
                        <li onclick="location.href='/Roofing/technology';"><a href="/Roofing/technology"><i class="fa fa-angle-right"></i> Technology</a></li>
                        <li onclick="location.href='/Roofing/material';"  class="active"><a href="/Roofing/material"><i class="fa fa-angle-right"></i>Material</a></li>
                        <li onclick="location.href='/Roofing/product';"><a href="/Roofing/product"><i class="fa fa-angle-right"></i>Product</a></li>

                        <li onclick="location.href='/Roofing/design_and_drawing';"><a href="/Roofing/design_and_drawing"><i class="fa fa-angle-right"></i>Design and Drawing </a></li>
                        <li onclick="location.href='/Roofing/installation';"><a href="/Roofing/installation"><i class="fa fa-angle-right"></i>Installation</a></li>

                    </ul>
                </div>
                <div class="widget">
                    <h4><span>Download</span></h4>
                    <div class="download-prospectus"> <a href="/DownloadBrochure"><i class="fa fa-download" aria-hidden="true"></i> Download Brochure</a> </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Service Details Goes Here -->
