@{
    ViewData["Title"] = "Self Supported Steel Roofing in India | Factory Roofing | Leak Proof Roofing | Arch Roofing | Trussless Roofing | Steel Roofing Solutions | Roofing Structures";
    ViewData["PageName"] = "Product";
}

<!-- Start Header Area background -->
<div id="inner-header">
    <img alt="PEB" src="../images/inner_banner/banner1.jpg"> <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pages-header-content text-center">

                    <!-- <p>The road to success is always</p> -->
                    <div class="breadcum">
                        <ul>
                            <li><a href="/home">Home</a></li>
                            <li><a href="#">Roofing</a></li>
                            <li><a href="#">Introduction</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Header Area background  -->
<!-- Start Service Details Goes Here -->
<section id="service-full-area" class="service-full-area section-padding">
    <div class="container">
        <div class="row">

            <div class="col-md-9 col-xs-12 right-side animated wow fadeInUpBig" data-wow-delay=".4s">
                <!--<div class="section-one section-about">
                  <div class="single-item single-item-about">
                    <div class="widget">
                      <h4><span>Introduction</span></h4>
                    </div>
                  </div>
                </div>-->
                <div class="section-two">
                    <div class="col-sm-12">
                        <div class="er-single-service-content">
                            <div class="er-service-content">
                                <div id="content">

                                    <p>Rooftech has pioneered Self Supported Steel Roofing in India, which is the ideal solution for industrial and factory roof. This American technology is successfully proven and in use in countries for the last four decades and has made a prominent position in building and construction industry.  </p>
                                    <p>Self Supported Roof is typically arch-shaped, trussless roofing that does not have purlins and is well supported by its design. A wide variety of heights and structures can be achieved leveraging the product. The corrugated metal roofing panels are put together by seaming process which means there would be no chance of leakage. Additionally, Self Supported Steel Roofing solutions require zero maintenance. It does not develop cracks, has minimum wear and tear and is most suitable for extreme environmental conditions.</p>
                                    <strong>Key Facts </strong>
                                    <div class="gap-10"></div>

                                    <p>Self Supported Steel Roofing typically features arch roofing style or curved roof that can be used only in rectangle or square shaped buildings. However, the roof can be half arch, semi arch and installed on elevated and symmetrical structures and also used to make ground-to-ground buildings. Various roofing structures like perpendicular buildings, varying arch-rises for north light, four-side open sheds, etc. can be built up to 25 meters height. </p>
                                    <p>Rooftech builds trussless roofing systems that are 100% leakproof, has high resistance to corrosion and have a long life.</p>
                                    <div id="accordion">
                                        <!-- tab list -->
                                        <ul class="resp-tabs-list">
                                            <li>Advantage Rooftech</li>
                                            <li>Ventilators</li>
                                            <li>Standing Seam Roof</li>
                                            <li>Unique Features Of The Profile </li>
                                            <li>HVLS - PROAIR </li>

                                        </ul>
                                        <!-- tab container -->
                                        <div class="resp-tabs-container">
                                            <div>
                                                <ul class="list-type">

                                                    <li>It is a self supported structure without trusses, purlins or ancillary support, with unobstructed clear spans 9 metres to 32 metres</li>
                                                    <li>It provides larger enclosed volumes, free movement & effective handling of goods and higher flexibility in space utilization</li>
                                                    <li>Roofing panels are mechanically seamed (inter-locked) and they are free from holes, nuts, bolts, overlaps or sealants. This ensures zero maintenance and resistance to extreme weather conditions</li>
                                                    <li>This unique mechanical seaming of panels ensures 100% leakproof roofs</li>
                                                    <li>No bird nuisance and hence it provides cleaner and more hygienic buildings</li>
                                                    <li>This innovative technology facilitates on-site panel forming and installation, giving incredible installation speed of around 2000 square metres in 12 hours</li>
                                                    <li>Flexibility and enhanced efficiency with superior workmanship ensures faster project turnaround</li>
                                                    <li>Distinguishing arch shape and flexibility of colours result in strong aesthetic appeal</li>
                                                    <li>Expected life span of roof is about 35 to 40 years</li>
                                                    <li>Rooftech specialises in different types of roofing like warehouse roofing, arch roofing, corrugated roofing panels, corrugated metal roofing, corrugated steel roofing sheets, curved roofing systems, curved roof, galvalume sheet roofing etc</li>
                                                </ul>
                                            </div>
                                            <div>
                                                <div class="gap-10"></div>
                                                <p><strong>Standard Turbo Ventilator and Advanced Turbo Ventilator</strong></p>
                                                <div class="gap-10"></div>
                                                <ul class="list-type">
                                                    <li>No electricity</li>
                                                    <li>No wiring</li>
                                                    <li>No running expenses</li>
                                                    <li>Maintenance free</li>
                                                    <li>Fresh air 24x7</li>
                                                    <li>Noiseless operation</li>
                                                    <li>Uniform ventilation</li>
                                                    <li>Exhausts stale, hot, humid air and fumes / pollutants</li>
                                                    <li>Non-stop induced ventilation even in the absence of breeze</li>
                                                    <li>Ensures rotation at the lowest wind velocity</li>
                                                    <li>Withstands high wind velocities</li>
                                                    <li>No ingress of rain water </li>
                                                </ul>

                                                <strong>Importance and Application of Ventilators </strong>
                                                <div class="gap-10"></div>
                                                <p>
                                                    Natural ventilation has gained prominence in recent times as a modified method of ventilating industrial sheds and buildings. The mechanics involved in the ventilation is very simple. The hot air inside the building / shed tends to rise up, when the turbines rotate, they suck the warm air out through the vent, thereby, bringing a drop in temperature in the shed and allowing supply of fresh air through doors and windows.
                                                </p>
                                                <div class="gap-10"></div>
                                                <p>Ventilators are used to remove hot air from inside the shed far more effectively and efficiently than other exhaust systems. Wind Driven Turbo Ventilator is a device which exhausts hot and stale air from the working space of industries, warehouses, workshops and other enclosed structures without use of electricity. The faster the wind, the faster the turbine will rotate and exhaust the heat, smoke, fumes, humidity, etc. Wind Turbine Ventilators are powered by the wind to create effective ventilation for different industries and works on the wind-assisted ventilation. If there is inadequate ventilation it can lead to the build-up of heat, moisture, pollution and even potentially harmful chemicals in the air that we breathe inside our buildings or industrial sheds. </p>


                                            </div>
                                            <div>
                                                <p>Rooftech is proud to bring to you Standing Seam Roof (SSR), one of the most durable and weather-tight roof system available in the Industry. Rooftech supplies high-quality Standing Seam Metal Roofing which is light-weight and a great choice for commercial, recreational and residential building applications. This roofing system is not only structurally sound, but has a great aesthetical appeal too.</p>
                                                <div class="gap-10"></div>
                                                <p>These panels are site rolled formed in continuous lengths out of portable roll former. It is a mechanically seamed structural panel with 610mm width and 76mm depth profile. It also has a double locked 360o seam and continuous Z-rib clips that provide superior uplift performance for high-wind conditions. </p>
                                                <div class="gap-10"></div>
                                                <p>These panels run parallel to the slope of the roof and are joined to the adjacent panels with double locked standing seams. These site-rolled steel profiled panels are fixed to Z-clips placed over cold formed Z sections over PEB steel structures / conventional steel structures, irrespective of wind speeds. This Roofing System can be used for replacement of old asbestos, GI and color coated sheets in projects where the service life of old sheets is already over. It offers a 100% leakproof roof for which Rooftech is well-known for.</p>
                                            </div>
                                            <div>
                                                <ul class="list-type">

                                                    <li>Site rolled profiled single sheet from high speed versatile Profile Former</li>
                                                    <li>610 mm wide, 76 mm depth Profile </li>
                                                    <li>100 % leak proof Standing Seam </li>
                                                    <li>Field Seam 360<sup>®</sup></li>
                                                    <li>Weather-tight roofing system</li>
                                                    <li>High durability</li>
                                                    <li>Vertical or trapezoidal leg standing seams </li>
                                                    <li>Special clips for thermal roof expansion & contraction during extreme temperature changes</li>
                                                    <li>Up to 80 meters. length</li>


                                                </ul>
                                            </div>
                                            <div>
                                                <p>Proair - High Volume, Low Speed fans (HVLS) are a type of mechanical fans that are greater than 7 feet (2.1 m) in diameter. They move slowly, but distribute large amounts of air and hence the name, HVLS. A good quality HVLS fan can reduce the temperature of the surrounding by 7-11 degrees. They don’t just move air; they work smartly and efficiently to circulate air to positively impact the ambiance.</p>
                                            </div>

                                        </div>

                                        <!-- end tab container -->
                                    </div>







                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 left-side">
                <div class="widget">
                    <h4><span>Roofing</span></h4>
                </div>
                <div class="er-service-list">
                    <ul>
                        <li onclick="location.href='/Roofing/technology';"><a href="/Roofing/technology"><i class="fa fa-angle-right"></i> Technology</a></li>
                        <li onclick="location.href='/Roofing/material';"><a href="/Roofing/material"><i class="fa fa-angle-right"></i>Material</a></li>
                        <li onclick="location.href='/Roofing/product';" class="active"><a href="/Roofing/product"><i class="fa fa-angle-right"></i>Product</a></li>

                        <li onclick="location.href='/Roofing/design_and_drawing';"><a href="/Roofing/design_and_drawing"><i class="fa fa-angle-right"></i>Design and Drawing </a></li>
                        <li onclick="location.href='/Roofing/installation';"><a href="/Roofing/installation"><i class="fa fa-angle-right"></i>Installation</a></li>

                    </ul>
                </div>
                <div class="widget">
                    <h4><span>Download</span></h4>
                    <div class="download-prospectus"> <a href="/DownloadBrochure"><i class="fa fa-download" aria-hidden="true"></i> Download Brochure</a> </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Service Details Goes Here --> 