@{
    ViewData["Title"] = "Fastest Roofing | Warehouse Roofing | Roofing System | Building and Construction Industry in India | Industrial Roof Solutions";
    ViewData["PageName"] = "Technology";
}

<!-- Start Header Area background -->


<div id="inner-header">
    <img src="../images/inner_banner/roofing.jpg"> <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pages-header-content text-center">


                    <div class="breadcum">
                        <ul>
                            <li><a href="/home">Home</a></li>

                            <li><a href="#">Roofing</a></li>
                            <li><a href="#">Technology</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Header Area background  -->
<!-- Start Service Details Goes Here -->
<section id="service-full-area" class="service-full-area section-padding">
    <div class="container">
        <div class="row">

            <div class="col-md-9 col-xs-12 right-side animated wow bounce" data-wow-delay=".4s">
                <!--<div class="section-one section-about">
                  <div class="single-item single-item-about">
                    <div class="widget">
                      <h4><span>Introduction</span></h4>
                    </div>
                  </div>
                </div>-->
                <div class="section-two">
                    <div class="col-sm-12">
                        <div class="er-single-service-content">
                            <div class="er-service-content">
                                <div id="content">

                                    <p>Rooftech Roofing System is curved shaped ‘Self Supported Steel Roofing’ for industry and warehousing roofing. The innovative roofing system from America has been successfully proven and in use in over 60 countries. The technology was invented and patented by an American company and it was first used for Defence applications to build ground-to-ground structures. Rooftech is the pioneer of Self Supported Steel Roofing in India that introduced the concept in the year 2010. This unique technology does not use any nuts or bolts and the panels are joined together by mechanical seaming process, ensuring leakproof roofing.</p>
                                    <p>Rooftech contribution and continuous developments in the field of Self Supported Roofing in India has added significant value to the building and construction industry in India. Since 2010, it has been the preferred choice for high quality, durable and strong industrial roof solutions in the Country, with over 500 projects across different market segments.  </p>
                                    <strong>Comparison Between 100% Original American Self Supported Roofing Technology and Chinese Technology </strong>
                                    <div class="gap-10"></div>
                                    <p>Technology for making Self Supported Steel Roofing was invented by an American company and it has been globally proven for over four decades. Following the success of this breakthrough American technology, many Chinese companies have blindly copied the concept and they are unable to provide basic data to support testing of arch roof panel designs. On the other hand, the American technology has reliable and tested way of deriving required design data by its Design Software. </p>
                                    <p>The machines made by American company are highly reliable, expensive and hydraulically operated, which tend to apply uniform pressure that results into superior panel quality, seamless operations, and increased output. On the other hand, Chinese machineries are cheaper and electrically operated and may result into higher frequency of breakdowns. It is widely known that Chinese metal roofing manufacturers are rated very low when it comes to quality, performance and durability of the final products made by their machines, while American machines are able to manufacture products that have far better quality in  terms of aesthetics, surface finish and quality of joinery; resulting in superior end product and thus giving real value for money to its customers.  </p>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 left-side">
                <div class="widget">
                    <h4><span>Roofing</span></h4>
                </div>
                <div class="er-service-list">
                    <ul>
                        <li onclick="location.href='/Roofing/technology';" class="active"><a href="/Roofing/technology"><i class="fa fa-angle-right"></i> Technology</a></li>
                        <li onclick="location.href='/Roofing/material';"><a href="/Roofing/material"><i class="fa fa-angle-right"></i>Material</a></li>
                        <li onclick="location.href='/Roofing/product';"><a href="/Roofing/product"><i class="fa fa-angle-right"></i>Product</a></li>

                        <li onclick="location.href='/Roofing/design_and_drawing';"><a href="/Roofing/design_and_drawing"><i class="fa fa-angle-right"></i>Design and Drawing </a></li>
                        <li onclick="location.href='/Roofing/installation';"><a href="/Roofing/installation"><i class="fa fa-angle-right"></i>Installation</a></li>

                    </ul>
                </div>
                <div class="widget">
                    <h4><span>Download</span></h4>
                    <div class="download-prospectus"> <a href="/DownloadBrochure"><i class="fa fa-download" aria-hidden="true"></i> Download Brochure</a> </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Service Details Goes Here --> 