@{
    ViewData["Title"] = "Rooftech Roofing | Galvalume Sheet Roofing | Galvanized Steel Roofing | Steel Sheet Roofing | Corrugated Roofing | Leak Proof Roofing | Arch Roofing";
    ViewData["PageName"] = "Life at RoofTech";
}

<!-- Start Header Area background -->

<div id="inner-header">
    <img alt="PEB" src="../images/inner_banner/gallery.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pages-header-content text-center">
                    <div class="breadcum">
                        <ul>
                            <li><a href="/home">Home</a></li>
                            <li><a href="#">Gallery</a></li>
                            <li><a href="#">Life at Rooftech</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Header Area background  -->
<!-- Start Service Details Goes Here -->
<section id="service-full-area" class="service-full-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-xs-12 right-side animated wow fadeInRightBig" data-wow-delay=".4s">
                <!--<div class="section-one section-about">
                  <div class="single-item single-item-about">
                    <div class="widget">
                      <h4><span>About  Group</span></h4>
                    </div>
                  </div>
                </div>-->
                <div class="section-two">
                    <div class="col-sm-12">
                        <div class="er-single-service-content">
                            <div class="er-service-content">
                                <div id="content">
                                    <p>Rooftech's continued leadership in the Roofing industry signifies our ability to attract, retain and manage a diverse workforce. To strengthen this ability as we grow bigger & better, we focus on creating a workplace that is challenging and rewarding. With a strong team of 500 personnel, makes us the most preferred place to work which sets us a class apart. We understand that employees spend a lot of time at work. Hence, they deserve a work culture which is more engaging and endearing.</p>
                                    <p>At Rooftech, opportunities to learn, collaborate and achieve are unlimited for our team. Most importantly, their contributions have a great impact on the success of the company. We strive to create an environment in which all employees develop and contribute to their full potential. To achieve this we constantly focus on their professional development through extensive training. We empower our people to make continuous improvements in their areas of responsibility. We embrace diversity at all levels, believing that superior company performance requires a variety of employee experiences, backgrounds, and characteristics. We reward and recognize outstanding results. Our great team environment and culture is enriched by various exciting activities employees enjoy – both on the job and off the job. Through these activities, we help our team have fun at workplace and build everlasting and meaningful relationships:</p>
                                    <ul class="list-type">
                                        <li>Birthday & Festival celebrations</li>
                                        <li>Picnics & Outings</li>
                                        <li>Sports</li>
                                        <li>Business Conferences</li>
                                        <li>Family Get-together</li>
                                        <li>CSR activities </li>
                                    </ul>
                                    <p> We have a welcoming, comfortable atmosphere because we love what we do and we love coming to work.</p>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 left-side">
                <div class="widget">
                    <h4><span>Gallery</span></h4>
                </div>
                <div class="er-service-list">
                    <ul>
                        <li onclick="location.href='/Gallery/videos';"><a href="/Gallery/videos">Videos </a></li>
                        @*<li onclick="location.href='/Gallery/PrintAdvertisement';"><a href="/Gallery/PrintAdvertisement">Print Advertisement</a></li>*@
                        <li onclick="location.href='/Gallery/eventexhibitionphotos';"><a href="/Gallery/eventexhibitionphotos">Event / Exhibition Photos</a></li>
                        <li onclick="location.href='/Gallery/Brochures';"><a href="/Gallery/Brochures">Brochures / Catalogues / Leaflets</a></li>
                        <li onclick="location.href='/Gallery/MbBackgrounder';"><a href="/Gallery/MbBackgrounder"> Backgrounder</a></li>
                        <li onclick="location.href='/Gallery/RooftechBackgrounder';"><a href="/Gallery/RooftechBackgrounder">Rooftech Backgrounder</a></li>
                        <li onclick="location.href='/Gallery/lifeatRooftech';" class="active"><a href="/Gallery/lifeatRooftech">Life at Rooftech</a></li>
                    </ul>
                </div>
                <div class="widget">
                    <h4><span>Download</span></h4>
                    <div class="download-prospectus"> <a href="/DownloadBrochure"><i class="fa fa-download" aria-hidden="true"></i> Download Brochure</a> </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Service Details Goes Here --> 