@{
    ViewData["Title"] = "Industrial Roofing | Warehouse Roofing | Arch Roofing | Curved Roof | Corrugated Metal Roofing | Galvalume Sheet Roofing | Factory Roofing";
    ViewData["PageName"] = "PrintAdvertisement";
}

<!-- Start Header Area background -->



<div id="inner-header">
    <img alt="PEB" src="../images/inner_banner/gallery.jpg"> <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pages-header-content text-center">


                    <div class="breadcum">
                        <ul>
                            <li><a href="/home">Home</a></li>

                            <li><a href="#">Gallery</a></li>
                            <li><a href="#">Print Advertisement</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Header Area background  -->
<!-- Start Service Details Goes Here -->
<section id="service-full-area" class="service-full-area section-padding">
    <div class="container">
        <div class="row">

            <div class="col-md-9 col-xs-12 right-side animated wow bounce" data-wow-delay=".4s">
                <!--<div class="section-one section-about">
                  <div class="single-item single-item-about">
                    <div class="widget">
                      <h4><span>Print Advertisement</span></h4>
                    </div>
                  </div>
                </div>-->
                <div class="section-two">
                    <div class="col-sm-12">
                        <div class="er-single-service-content">
                            <div class="er-service-content">
                                <div id="content">


                                    <div class="intro-img-div col-md-4">
                                        <div class="img-wrapper-add">
                                            <a href="~/pdfs/print_advertisement/print_advertisement1.pdf" target="_blank"><img class="intro-img img_custom_border" src="../images/print_advertisement/print_advertisement1.jpg" alt=""></a>
                                        </div>
                                    </div>

                                    <div class="intro-img-div col-md-4">
                                        <div class="img-wrapper-add">
                                            <a href="~/pdfs/print_advertisement/print_advertisement3.pdf" target="_blank"><img class="intro-img img_custom_border" src="../images/print_advertisement/print_advertisement3.jpg" alt=""></a>
                                        </div>
                                    </div>

                                    <div class="intro-img-div col-md-4">
                                        <div class="img-wrapper-add">
                                            <a href="~/pdfs/print_advertisement/print_advertisement6.pdf" target="_blank"><img class="intro-img img_custom_border" src="../images/print_advertisement/print_advertisement6.jpg" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="gap-30"></div>

                                    <div class="intro-img-div col-md-4">
                                        <div class="img-wrapper-add">
                                            <a href="~/pdfs/print_advertisement/print_advertisement7.pdf" target="_blank"><img class="intro-img img_custom_border" src="../images/print_advertisement/print_advertisement7.jpg" alt=""></a>
                                        </div>
                                    </div>

                                    <div class="intro-img-div col-md-4">
                                        <div class="img-wrapper-add">
                                            <a href="~/pdfs/print_advertisement/print_advertisement8.pdf" target="_blank"><img class="intro-img img_custom_border" src="../images/print_advertisement/print_advertisement8.jpg" alt=""></a>
                                        </div>
                                    </div>

                                    <div class="intro-img-div col-md-4">
                                        <div class="img-wrapper-add">
                                            <a href="~/pdfs/print_advertisement/print_advertisement9.pdf" target="_blank"><img class="intro-img img_custom_border" src="../images/print_advertisement/print_advertisement9.jpg" alt=""></a>
                                        </div>
                                    </div>

                                    <div class="gap-30"></div>

                                    <div class="intro-img-div col-md-4">
                                        <div class="img-wrapper-add">
                                            <a href="~/pdfs/print_advertisement/print_advertisement10.pdf" target="_blank"><img class="intro-img img_custom_border" src="../images/print_advertisement/print_advertisement10.jpg" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="intro-img-div col-md-4">
                                        <div class="img-wrapper-add">
                                            <a href="~/pdfs/print_advertisement/print_advertisement11.pdf" target="_blank"><img class="intro-img img_custom_border" src="../images/print_advertisement/print_advertisement11.jpg" alt=""></a>
                                        </div>
                                    </div>

                                    <div class="intro-img-div col-md-4">
                                        <div class="img-wrapper-add">
                                            <a href="~/pdfs/print_advertisement/print_advertisement12.pdf" target="_blank"><img class="intro-img img_custom_border" src="../images/print_advertisement/print_advertisement12.jpg" alt=""></a>
                                        </div>
                                    </div>

                                    <div class="gap-30"></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 left-side">
                <div class="widget">
                    <h4><span>Gallery</span></h4>
                </div>
                <div class="er-service-list">
                    <ul>
                        <li onclick="location.href='/Gallery/videos';"><a href="/Gallery/videos">Videos </a></li>
                        @*<li onclick="location.href='/Gallery/PrintAdvertisement';" class="active"><a href="/Gallery/PrintAdvertisement">Print Advertisement</a></li>*@
                        <li onclick="location.href='/Gallery/eventexhibitionphotos';"><a href="/Gallery/eventexhibitionphotos">Event / Exhibition Photos</a></li>
                        <li onclick="location.href='/Gallery/Brochures';"><a href="/Gallery/Brochures">Brochures / Catalogues / Leaflets</a></li>
                        <li onclick="location.href='/Gallery/MbBackgrounder';"><a href="/Gallery/MbBackgrounder"> Backgrounder</a></li>
                        <li onclick="location.href='/Gallery/RooftechBackgrounder';"><a href="/Gallery/RooftechBackgrounder">Rooftech Backgrounder</a></li>
                        <li onclick="location.href='/Gallery/lifeatRooftech';"><a href="/Gallery/lifeatRooftech">Life at Rooftech</a></li>
                    </ul>
                </div>
                <div class="widget">
                    <h4><span>Download</span></h4>
                    <div class="download-prospectus"> <a href="/DownloadBrochure"><i class="fa fa-download" aria-hidden="true"></i> Download Brochure</a> </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Service Details Goes Here --> 