@{
    ViewData["Title"] = "Roofing Industry | Warehouse Roofing | Arch Roofing | Curved Roof | Curved Roofing Systems | Corrugated Roofing Panels | Corrugated Metal Roofing | Corrugated Steel Roofing Sheets | Galvalume Sheet Roofing";
    ViewData["PageName"] = "RoofTech Backgrounder";
}

<!-- Start Header Area background -->



<div id="inner-header">
    <img alt="PEB" src="../images/inner_banner/gallery.jpg"> <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pages-header-content text-center">


                    <div class="breadcum">
                        <ul>
                            <li><a href="/home">Home</a></li>

                            <li><a href="#">Gallery</a></li>
                            <li><a href="proflex_backgrounder.html">Rooftech Backgrounder</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Header Area background  -->
<!-- Start Service Details Goes Here -->
<section id="service-full-area" class="service-full-area section-padding">
    <div class="container">
        <div class="row">

            <div class="col-md-9 col-xs-12 right-side animated wow bounceInLeft" data-wow-delay=".4s">
                <!--<div class="section-one section-about">
                  <div class="single-item single-item-about">
                    <div class="widget">
                      <h4><span> GROUP</span></h4>
                    </div>
                  </div>
                </div>-->
                <div class="section-two">
                    <div class="col-sm-12">
                        <div class="er-single-service-content">
                            <div class="er-service-content">
                                <div id="content">


                                    <p>Started in 2010,  Group has been constantly achieving new milestones in the construction and engineering industry in India. With an annual turnover of INR 5 million and supported by a family of nearly 1000 professionals and workers; the Group pursues technological advancements to keep pace with the fast-developing infrastructure in India. The Group enjoys the reputation of a pioneer responsible for introducing the world-class technologies and construction standards in India.</p>
                                    <div class="gap-10"></div>
                                    <strong>Rooftech – Leader in Self Supported Steel Roofing in India</strong>
                                    <div class="gap-10"></div>
                                    <p>Rooftech, a division of Dhruvanshi International. and promoted by thecGroup, has revolutionised the roofing industry with its path breaking “Self Supported Steel Roofing” solution. Established in 2010, the leading roof company is a pioneer of self supported steel roofing in India. </p>
                                    <p>Over the last 10 years, as a leading metal roofing fabricator, Rooftech has successfully executed over 500 projects across India, which are designed to perfection and built to last. Patronage of its pan-India clients that includes Indian Conglomerates, MNCs and business owners has made Rooftech an acknowledged leader in the industry; making it a name synonymous with the self supported roofing system and galvalume sheet roofing in India, with over 75% market share. </p>
                                    <p>It is a partner of choice for clients and organizations across varied industries such as engineering, warehousing, rice mills, textile, food & beverage, pharmaceutical, cement, railways, plastics, sugar factories, packaging and many more. </p>
                                    <p>Rooftech is the only metal roofing company in India to offer comprehensive self supported steel roofing solutions, including conceptual sketches, authentic technology, structural load reactions data and project management support. All of its state-of-the-art equipments are of American make and only Rooftech has its own fleet of cranes for industrial roofing erection.   </p>
                                    <p>Rooftech has the largest network, spread across 21 States and 5 Union Territories over india with a dedicated team of 300 employees. </p>












                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 left-side">
                <div class="widget">
                    <h4><span>Gallery</span></h4>
                </div>
                <div class="er-service-list">
                    <ul>

                        <li onclick="location.href='/Gallery/videos';"><a href="/Gallery/videos">Videos </a></li>
                        @*<li onclick="location.href='/Gallery/PrintAdvertisement';"><a href="/Gallery/PrintAdvertisement">Print Advertisement</a></li>*@
                        <li onclick="location.href='/Gallery/eventexhibitionphotos';"><a href="/Gallery/eventexhibitionphotos">Event / Exhibition Photos</a></li>
                        <li onclick="location.href='/Gallery/Brochures';"><a href="/Gallery/Brochures">Brochures / Catalogues / Leaflets</a></li>
                        <li onclick="location.href='/Gallery/MbBackgrounder';"><a href="/Gallery/MbBackgrounder"> Backgrounder</a></li>
                        <li onclick="location.href='/Gallery/RooftechBackgrounder';" class="active"><a href="/Gallery/RooftechBackgrounder">Rooftech Backgrounder</a></li>
                        <li onclick="location.href='/Gallery/lifeatRooftech';"><a href="/Gallery/lifeatRooftech">Life at Rooftech</a></li>
                    </ul>
                </div>
                <div class="widget">
                    <h4><span>Download</span></h4>
                    <div class="download-prospectus"> <a href="/DownloadBrochure"><i class="fa fa-download" aria-hidden="true"></i> Download Brochure</a> </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Service Details Goes Here -->
