@{
    ViewData["Title"] = "Rooftech Roofing | Self Supported Steel Roofing India | Trussless Roofing | Arch Roofing | Arch Shape Roofing | Curved Roofing Systems";
    ViewData["PageName"] = "Testimonials";
}

<!-- Start Header Area background -->
<div id="inner-header">
    <img alt="PEB" src="../images/inner_banner/testimonials.jpg"> <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pages-header-content text-center">


                    <div class="breadcum">
                        <ul>
                            <li><a href="/home">Home</a></li>

                            <li><a href="#">Gallery</a></li>
                            <li><a href="testimonials.html">Testimonials</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Header Area background  -->
<!-- Start Service Details Goes Here -->
<section id="service-full-area" class="service-full-area section-padding">
    <div class="container">
        <div class="row">

            <div class="col-md-9 col-xs-12 right-side animated wow fadeInUp" data-wow-delay=".4s">
                <!--<div class="section-one section-about">
                  <div class="single-item single-item-about">
                    <div class="widget">
                      <h4><span>Event / Exhibition Photos</span></h4>
                    </div>
                  </div>
                </div>-->
                <div class="section-two">
                    <div class="col-sm-12">
                        <div class="projects animated wow bounceInUp" data-wow-delay=".4s">

                            <div class="row">
                                <!-- single project -->

                                <div class="col-md-4 col-sm-4">
                                    <div class="project-content">
                                        <img src="../images/certificates/ABG_Cranes_thumb.jpg" alt="">
                                        <div class="proj-img-hover">


                                            <div class="proj-link">
                                                <a class="view-img aircraft" href="../images/certificates/big/ABG_Cranes.jpg" data-fancybox-group="gallery" title="ABG Cranes"><i class="fa fa-search"></i></a>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="proj-text">
                                        <h4>ABG Cranes </h4>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-4">
                                    <div class="project-content">
                                        <img src="../images/certificates/aditya_birla_chemical_thumb.jpg" alt="">
                                        <div class="proj-img-hover">


                                            <div class="proj-link">
                                                <a class="view-img aircraft" href="../images/certificates/big/aditya_birla_chemicals.jpg" data-fancybox-group="gallery" title="Aditya Birla"><i class="fa fa-search"></i></a>










                                            </div>
                                        </div>

                                    </div>
                                    <div class="proj-text">
                                        <h4>Aditya Birla - Chemicals </h4>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="project-content">
                                        <img src="../images/certificates/aditya_birla_grasim_thumb.jpg" alt="">
                                        <div class="proj-img-hover">


                                            <div class="proj-link">
                                                <a class="view-img aircraft" href="../images/certificates/big/aditya_birla_grasim.jpg" data-fancybox-group="gallery" title="Aditya Birla"><i class="fa fa-search"></i></a>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="proj-text">
                                        <h4>Aditya Birla - Grasim</h4>
                                    </div>
                                </div>
                                <div class="gap-30"></div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="project-content">
                                        <img src="../images/certificates/aditya_birla_ultratack_thumb.jpg" alt="">
                                        <div class="proj-img-hover">


                                            <div class="proj-link">
                                                <a class="view-img aircraft" href="../images/certificates/big/aditya_birla_ultratack.jpg" data-fancybox-group="gallery" title="Aditya Birla - Ultratech"><i class="fa fa-search"></i></a>









                                            </div>
                                        </div>

                                    </div>
                                    <div class="proj-text">
                                        <h4>Aditya Birla - Ultratech</h4>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-4">
                                    <div class="project-content">
                                        <img src="../images/certificates/eicher_thumb.jpg" alt="">
                                        <div class="proj-img-hover">


                                            <div class="proj-link">
                                                <a class="view-img aircraft" href="../images/certificates/big/eicher.jpg" data-fancybox-group="gallery" title="Eicher"><i class="fa fa-search"></i></a>









                                            </div>
                                        </div>

                                    </div>
                                    <div class="proj-text">
                                        <h4>Eicher </h4>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-4">
                                    <div class="project-content">
                                        <img src="../images/certificates/ENPRO_thumb.jpg" alt="">
                                        <div class="proj-img-hover">


                                            <div class="proj-link">
                                                <a class="view-img aircraft" href="../images/certificates/big/ENPRO.jpg" data-fancybox-group="gallery" title="ABG Cranes"><i class="fa fa-search"></i></a>









                                            </div>
                                        </div>

                                    </div>
                                    <div class="proj-text">
                                        <h4>ENPRO</h4>
                                    </div>
                                </div>






                                <div class="gap-30"></div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="project-content">
                                        <img src="../images/certificates/fuchs_thumb.jpg" alt="">
                                        <div class="proj-img-hover">


                                            <div class="proj-link">
                                                <a class="view-img aircraft" href="../images/certificates/big/fuchs.jpg" data-fancybox-group="gallery" title="IRQS"><i class="fa fa-search"></i></a>









                                            </div>
                                        </div>

                                    </div>
                                    <div class="proj-text">
                                        <h4>FUCHS</h4>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-4">
                                    <div class="project-content">
                                        <img src="../images/certificates/gherzi_eastern_limited_thumb.jpg" alt="">
                                        <div class="proj-img-hover">


                                            <div class="proj-link">
                                                <a class="view-img aircraft" href="../images/certificates/big/gherzi_eastern_limited.jpg" data-fancybox-group="gallery" title="Gherzi Eastern Limited"><i class="fa fa-search"></i></a>









                                            </div>
                                        </div>

                                    </div>
                                    <div class="proj-text">
                                        <h4>Gherzi Eastern Limited</h4>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="project-content">
                                        <img src="../images/certificates/IRQS_thumb.jpg" alt="">
                                        <div class="proj-img-hover">


                                            <div class="proj-link">
                                                <a class="view-img aircraft" href="../images/certificates/big/IRQS.jpg" data-fancybox-group="gallery" title="IRQS"><i class="fa fa-search"></i></a>









                                            </div>
                                        </div>

                                    </div>
                                    <div class="proj-text">
                                        <h4>IRQS</h4>
                                    </div>
                                </div>





                                <div class="gap-30"></div>



                                <div class="col-md-4 col-sm-4">
                                    <div class="project-content">
                                        <img src="../images/certificates/Milacron_thumb.jpg" alt="">
                                        <div class="proj-img-hover">


                                            <div class="proj-link">
                                                <a class="view-img aircraft" href="../images/certificates/big/Milacron.jpg" data-fancybox-group="gallery" title="MILACRON"><i class="fa fa-search"></i></a>









                                            </div>
                                        </div>

                                    </div>
                                    <div class="proj-text">
                                        <h4>MILACRON </h4>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-4">
                                    <div class="project-content">
                                        <img src="../images/certificates/ornate_thumb.jpg" alt="">
                                        <div class="proj-img-hover">


                                            <div class="proj-link">
                                                <a class="view-img aircraft" href="../images/certificates/big/ornate.jpg" data-fancybox-group="gallery" title="Ornate Print Tech PVT. LTD."><i class="fa fa-search"></i></a>









                                            </div>
                                        </div>

                                    </div>
                                    <div class="proj-text">
                                        <h4>Ornate Print Tech PVT. LTD.</h4>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="project-content">
                                        <img src="../images/certificates/pioneer_group_thumb.jpg" alt="">
                                        <div class="proj-img-hover">


                                            <div class="proj-link">
                                                <a class="view-img aircraft" href="../images/certificates/big/pioneer_group.jpg" data-fancybox-group="gallery" title="Pioneer Group"><i class="fa fa-search"></i></a>









                                            </div>
                                        </div>

                                    </div>
                                    <div class="proj-text">
                                        <h4>Pioneer Group</h4>
                                    </div>
                                </div>












                            </div>
                            <div class="gap-30"></div>
                            <div class="col-md-4 col-sm-4">
                                <div class="project-content">
                                    <img src="../images/certificates/thinkpad_thumb.jpg" alt="">
                                    <div class="proj-img-hover">


                                        <div class="proj-link">
                                            <a class="view-img aircraft" href="../images/certificates/big/thinkpad.jpg" data-fancybox-group="gallery" title="Think Pad Printers"><i class="fa fa-search"></i></a>









                                        </div>
                                    </div>

                                </div>
                                <div class="proj-text">
                                    <h4>Think Pad Printers</h4>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 left-side">
                <div class="widget">
                    <h4><span>Gallery</span></h4>
                </div>
                <div class="er-service-list">
                    <ul>
                        <li onclick="location.href='/Gallery/videos';"><a href="/Gallery/videos">Videos </a></li>
                        @*<li onclick="location.href='/Gallery/PrintAdvertisement';"><a href="/Gallery/PrintAdvertisement">Print Advertisement</a></li>*@
                        <li onclick="location.href='/Gallery/eventexhibitionphotos';"><a href="/Gallery/eventexhibitionphotos">Event / Exhibition Photos</a></li>
                        <li onclick="location.href='/Gallery/Brochures';"><a href="/Gallery/Brochures">Brochures / Catalogues / Leaflets</a></li>
                        <li onclick="location.href='/Gallery/MbBackgrounder';"><a href="/Gallery/MbBackgrounder"> Backgrounder</a></li>
                        <li onclick="location.href='/Gallery/RooftechBackgrounder';"><a href="/Gallery/RooftechBackgrounder">Rooftech Backgrounder</a></li>
                        <li onclick="location.href='/Gallery/lifeatRooftech';"><a href="/Gallery/lifeatRooftech">Life at Rooftech</a></li>
                    </ul>
                </div>
                <div class="widget">
                    <h4><span>Download</span></h4>
                    <div class="download-prospectus"> <a href="/DownloadBrochure"><i class="fa fa-download" aria-hidden="true"></i> Download Brochure</a> </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Service Details Goes Here -->
