@{
    ViewData["Title"] = "Steel Roofing, Roofing, Self Supported";
}

<!--Main Slider-->
<section class="main-slider transparent-slider">
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                <!-- Slider 2 -->

                <li data-transition="zoomout" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/banner1.jpg" data-saveperformance="off" data-title="RoofTech"> <img src="images/main-slider/banner1.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> </li>
                <!-- Slider 3 -->

                <li data-transition="zoomin" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/banner2.jpg" data-saveperformance="off" data-title="RoofTech"> <img src="images/main-slider/banner2.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> </li>


                <li data-transition="zoomin" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/banner3.jpg" data-saveperformance="off" data-title="RoofTech"> <img src="images/main-slider/banner3.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> </li>


                <li data-transition="zoomin" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/banner4.jpg" data-saveperformance="off" data-title="RoofTech"> <img src="images/main-slider/banner4.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> </li>
            </ul>
            <div class="tp-bannertimer"></div>
        </div>
    </div>
</section>

<!-- Call to Action Area  -->

<div class="main-section project-counter" id="project-counter">
    <div class="domain-search">
        <h1>Leader in Self Supported Steel Roofing </h1>
    </div>
    <div class="owl-shape">
        <div class="container col-md-12">
            <div class="row text-center cols-border sokal-sm counter-section">
                <div class="col-xs-6 col-md-3">
                    <div class="counter clearfix">
                        <div class="counter-info" data-aos="zoom-in">
                            <span class="no counters">12</span>
                            <p>+</p>
                            <span class="categories"> Years Of Experience</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3">
                    <div class="counter clearfix">

                        <div class="glyph-icon flaticon-city21"></div>
                        <div class="counter-info" data-aos="zoom-in">
                            <span class="no counters">450</span>
                            <p>+</p>
                            <span class="categories">Projects Completed</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3">
                    <div class="counter clearfix">

                        <div class="counter-info" data-aos="zoom-in">
                            <span class="no counters">25</span>
                            <p>+</p>

                            <span class="categories">Lacs sq. mt. of Roofing</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3">
                    <div class="counter clearfix">

                        <div class="counter-info" data-aos="zoom-in">
                            <span class="no counters">22</span>
                            <p>States</p>
                            <span class="categories">All over india</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fusion-section-separator">
            <svg class="fusion-big-half-circle-candy" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none" style="fill:#f2f2f2;padding:0;"><path d="M0 0 C55 180 100 0 100 0 Z"></path></svg>
        </div>
    </div>
        <!-- /.container -->
    </div>

<!-- End Call to Action Area  -->
<!-- Intro Section -->
<section id="about-section" class="intro-section-area section-padding-about parallax-section">
    <div class="container">
        <div class="row">
            <!-- intro left content -->
            <div class="col-lg-6 col-md-6 col-sm-6" data-aos="fade-right">
                <h2 style="color:#1a1a1a;font-weight:700" class="text-capitalize"><span class="red">RoofTech</span></h2>
                <br>
                <p style="text-align:justify;margin-bottom:30px;">RoofTech, a division of  Dhruvanshi International. and promoted by the  Group, has revolutionised the roofing industry with its path-breaking Self Supported Steel Roofing solution. Established in 2007, the leading roof company is a pioneer of Self Supported Steel Roofing in India. </p>


                <div class="col-md-6 col-sm-6 home-video-popup"> <a href="https://www.youtube.com/watch?v=0BaPjesvExs?rel=0&amp;autoplay=1&amp;controls=0&amp;showinfo=0?modestbranding=1&amp;disablekb=1" frameborder="0" class="fancybox-video" data-fancybox-group="video"><img alt="" class="intro-img wow  img_custom_border" src="../images/tvc.jpg"> </a><h5 class="video-name">TVC</h5></div>


                <div class="col-md-6 col-sm-6 home-video-popup2"> <a href="https://www.youtube.com/watch?v=NbLlqYCX8Fc?rel=0&amp;autoplay=1&amp;controls=0&amp;showinfo=0?modestbranding=1&amp;disablekb=1" frameborder="0" class="fancybox-video" data-fancybox-group="video"><img alt="" class="intro-img wow  img_custom_border" src="../images/installation.jpg"> </a><h5 class="video-name">Installation Process</h5></div>


            </div>
            <!-- ending left content -->
            <!-- intro right content item -->
            <div class="col-lg-6 col-md-6 col-sm-6"  data-aos="fade-left">
                <div id="accordion">
                    <!-- tab list -->
                    <ul class="resp-tabs-list">
                        <li>Vision</li>
                        <li>Mission</li>
                        <li>Journey</li>
                        <li>Achievements</li>
                        <li>Management </li>
                        <li>Team </li>
                        <li>Network</li>
                    </ul>
                    <!-- tab container -->
                    <div class="resp-tabs-container">
                        <div>
                            <p> To be the knowledge leader in the roofing industry by synergising the best-in-class processes, practices, people and partnerships.</p>
                        </div>
                        <div>
                            <p>To Consistently deliver innovative and future-ready steel Construction Solution through enterprise, expertise, excellence and empowerment.</p>
                        </div>
                        <div>
                            <p>RoofTech started its journey in 2001, emerging as a pioneer in Self Supported Steel Roofing in India.</p>
                        </div>
                        <div>
                            <p>RoofTech is the only roofing company in India to execute over 1 lakhs square metre of roofing every year since 2014  </p>
                        </div>
                        <div>
                            <p>The theory of group dynamics gets a tech perspective at RoofTech, whose management core comprises some of the revered personnel in the industry.</p>
                        </div>
                        <div>
                            <p>RoofTech has a team of 200 professionals, driven by the passion to live by its values and deliver the best to its clients.</p>
                        </div>
                        <div>
                            <p>RoofTech Network spans top cities in India with the corporate office in Surat.</p>
                        </div>
                    </div>

                    <!-- end tab container -->
                </div>
            </div>
            <!-- ending intro left content -->
        </div>
    </div>
</section>


<section id="project-section" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center wow fadeInUp" style=" margin-bottom: 10px !important; margin-top: -20px;">
                    <span class="double-line double-line-color"></span>
                    <h2>Our <span class="red">Projects</span></h2>
                    <span class="double-line double-line-color"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="projects" data-aos="zoom-in">
                <div id="owl-recent">


                    <!-- single project -->
                    <div class="mix single-project interiordesign construction ">
                        <div class="project-content">
                            <a href="/ProjectsByIndustry"><img src="images/product/Cattleshed.jpg" alt=""></a>
                            <div class="proj-img-hover">
                                <a class="visit-link" href="/ProjectsByIndustry"><i class="fa fa-link"></i></a>


                                <div class="proj-link"> <a class="view-img home-project" href="images/projects/Cattleshed/6.jpg" data-fancybox-group="gallery" title="Cattleshed"><i class="fa fa-search"></i></a> </div>
                            </div>

                        </div>
                        <div class="proj-text">
                            <a href="/ProjectsByIndustry">
                                <h4>Cattle Shed</h4>
                            </a> <!--<span>Lorem Ipsum</span>-->
                        </div>
                    </div>
                    <!-- ending sibgle project -->
                    <!-- single project -->
                    <div class="mix single-project architecture interiordesign">
                        <div class="project-content">
                            <a href="/ProjectsByIndustry"><img src="images/product/Dairy.jpg" alt=""></a>
                            <div class="proj-img-hover">
                                <a class="visit-link" href="/ProjectsByIndustry"><i class="fa fa-link"></i></a>

                                <div class="proj-link"> <a class="view-img home-project" href="images/projects/Dairy/2.jpg" data-fancybox-group="gallery" title="Dairy"><i class="fa fa-search"></i></a> </div>
                            </div>

                        </div>
                        <div class="proj-text">
                            <a href="/ProjectsByIndustry">
                                <h4>Dairy</h4>
                            </a> <!--<span>Lorem Ipsum</span>-->
                        </div>
                    </div>
                    <!-- ending sibgle project -->
                    <!-- single project -->
                    <div class="mix single-project interiordesign architecture">
                        <div class="project-content">
                            <a href="/ProjectsByIndustry"><img src="images/product/Engineering.jpg" alt=""></a>
                            <div class="proj-img-hover">
                                <a class="visit-link" href="/ProjectsByIndustry"><i class="fa fa-link"></i></a>

                                <div class="proj-link"> <a class="view-img home-project" href="images/projects/Engineering/10.jpg" data-fancybox-group="gallery" title="Engineering"><i class="fa fa-search"></i></a> </div>
                            </div>

                        </div>
                        <div class="proj-text">
                            <a href="/ProjectsByIndustry">
                                <h4>Engineering</h4>
                            </a> <!--<span>Lorem Ipsum</span>-->
                        </div>
                    </div>
                    <!-- ending sibgle project -->
                    <!-- single project -->
                    <div class="mix single-project construction interiordesign">
                        <div class="project-content">
                            <a href="/ProjectsByIndustry"><img src="images/product/Textile.jpg" alt=""></a>
                            <div class="proj-img-hover">
                                <a class="visit-link" href="/ProjectsByIndustry"><i class="fa fa-link"></i></a>

                                <div class="proj-link"> <a class="view-img home-project" href="images/projects/Textile/6.jpg" data-fancybox-group="gallery" title="Textile"><i class="fa fa-search"></i></a> </div>
                            </div>

                        </div>
                        <div class="proj-text">
                            <a href="/ProjectsByIndustry">
                                <h4>Textile</h4>
                            </a> <!--<span>Lorem Ipsum</span>-->
                        </div>
                    </div>
                    <!-- ending sibgle project -->
                    <!-- single project -->
                    <div class="mix single-project architecture interiordesign">
                        <div class="project-content">
                            <a href="/ProjectsByIndustry"><img src="images/product/warehouse_and_logistics.jpg" alt=""></a>
                            <div class="proj-img-hover">
                                <a class="visit-link" href="/ProjectsByIndustry"><i class="fa fa-link"></i></a>

                                <div class="proj-link"> <a class="view-img home-project" href="images/projects/WarehouseAndLogistics/5.jpg" data-fancybox-group="gallery" title="Warehouse and Logistics"><i class="fa fa-search"></i></a> </div>
                            </div>


                        </div>
                        <div class="proj-text">
                            <a href="/ProjectsByIndustry">
                                <h4>Warehouse and Logistics</h4>
                            </a> <!--<span>Lorem Ipsum</span>-->
                        </div>

                    </div>
                    <!-- ending sibgle project -->
                    <!-- single project -->
                    <div class="mix single-project interiordesign architecture">
                        <div class="project-content">
                            <a href="projects_by_industry.html#p3"><img src="images/product/versatality.jpg" alt=""></a>
                            <div class="proj-img-hover">
                                <a class="visit-link" href="/ProjectsByIndustry"><i class="fa fa-link"></i></a>

                                <div class="proj-link"> <a class="view-img home-project" href="images/projects/Versatality/6.jpg" data-fancybox-group="gallery" title="Versatality"><i class="fa fa-search"></i></a> </div>

                            </div>
                        </div>
                        <div class="proj-text">
                            <a href="/ProjectsByIndustry">
                                <h4>Versatility</h4>
                            </a> <!--<span>Lorem Ipsum</span>-->
                        </div>
                    </div>
                    <!-- ending sibgle project -->



                </div>
            </div>
        </div>
    </div>
</section>
<!-- Ending Project Section -->
<section class="our-features section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title text-center wow fadeInUp animated">
                    <span class="double-line"></span> <h2>Product <span class="red">Offering </span></h2> <span class="double-line"></span>

                </div>

            </div>
        </div>
        <div class="row">
            <div class="">
                <!-- feature item -->
                <div class="col-md-6 col-sm-6" data-aos="fade-right">
                    <div class="about-us-item">
                        <div class="about-item-step"><div><img src="images/features-icon/HVLS-FANS.png" class="features_icon"></div></div>
                        <div class="about-item-content">
                            <h4><span>HVLS Fans </span> </h4>
                            <p>Proair - High Volume, Low Speed fans (HVLS) are a type of mechanical fans that are greater than 7 feet (2.1 m) in diameter</p>
                        </div>
                    </div>
                </div><!-- ending feature item -->
                <!-- feature item -->
                <div class="col-md-6 col-sm-6" data-aos="fade-left">
                    <div class="about-us-item">
                        <div class="about-item-step"><div><img src="images/features-icon/STANDING-SEAM-ROOF.png" class="features_icon"></div></div>
                        <div class="about-item-content">
                            <h4><span>Standing Seam Roof</span></h4>
                            <p>RoofTech is proud to bring to you Standing Seam Roof, one of the most durable and weathertight roof system available in the Industry</p>
                        </div>
                    </div>
                </div><!-- ending feature item -->
                <!-- feature item -->
                <div class="col-md-6 col-sm-6" data-aos="fade-right">
                    <div class="about-us-item">
                        <div class="about-item-step"><div><img src="images/features-icon/VENTILATOR.png" class="features_icon"></div></div>
                        <div class="about-item-content">
                            <h4><span>Wind Driven Ventilators </span></h4>
                            <p>One of the major concerns for most industrial workplaces and sheds is proper ventilation  </p>
                        </div>
                    </div>
                </div><!-- ending feature item -->
                <!-- feature item -->
                <!-- ending feature item -->



                <div class="col-md-6 col-sm-6" data-aos="fade-left">
                    <div class="about-us-item">
                        <div class="about-item-step"><div><img src="images/features-icon/product.png" class="features_icon"></div></div>
                        <div class="about-item-content">
                            <h4><span>Skylights</span></h4>
                            <p>RoofTech offers polycarbonate material skylights for natural lighting.hese can be fixed by our team   <!--<a href="#" class="red leaf-icon" title="Download Catalogue"> <i class="fa fa-cloud-download"></i></a>--></p>
                        </div>
                    </div>
                </div>
                <!--<div class="col-md-6 col-sm-6">
                    <div class="about-us-item">
                        <div class="about-item-step"><div><img src="images/features-icon/hybrid-roof.png" class="features_icon"></div></div>
                        <div class="about-item-content">
                            <h4><span>Hybrid Roofing (for larger spans)</span></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum iusto illum, repudiandae facere <a href="#" class="red leaf-icon" title="Download Catalogue"> <i class="fa fa-cloud-download"></i></a></p>
                        </div>
                    </div>
                </div>-->
                <div class="col-md-6 col-sm-6" data-aos="fade-right">
                    <div class="about-us-item">
                        <div class="about-item-step"><div><img src="images/features-icon/skylight.png" class="features_icon"></div></div>
                        <div class="about-item-content">
                            <h4><span>Self Supported Steel Roofing</span></h4>
                            <p>RoofTech Roofing System is curved shaped &lsquo;self-supported steel roofing&rsquo; for industry and warehousing roofing</p>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</section>
@*<section id="our-feature" class="our-feature" style="background:url(images/parallax2.jpg) no-repeat fixed center center / cover ;">
    <div class="container">
        <div class="row">

            <div class="col-md-12 wow bounceInUpBig">
                <div class="feature-area">
                    <div class="section-title text-center">
                        <h2 style="margin-bottom:12px;"> <span class="red">TESTIMONIALS</span></h2>
                    </div>

                    <p style="text-align:center">
                        <div class="row">
                            <div class="col-md-3 testi-img" data-aos="fade-up">
                                <a href="images/certificates/certi1_big.jpg" class="testi" data-fancybox-group="gallery">
                                    <img src="images/certificates/certi1.png">
                                </a>
                            </div>
                            <div class="col-md-3 testi-img" data-aos="fade-up">
                                <a href="images/certificates/certi2_big.jpg" class="testi" data-fancybox-group="gallery">
                                    <img src="images/certificates/certi2.png">
                                </a>
                            </div>
                            <div class="col-md-3 testi-img" data-aos="fade-up">
                                <a href="images/certificates/certi3_big.jpg" class="testi" data-fancybox-group="gallery">
                                    <img src="images/certificates/certi3.png">
                                </a>
                            </div>
                            <div class="col-md-3 testi-img" data-aos="fade-up">
                                <a href="images/certificates/certi4_big.jpg" class="testi" data-fancybox-group="gallery">
                                    <img src="images/certificates/certi4.png">
                                </a>
                            </div>
                            <div class="col-md-3 testi-img" data-aos="fade-up">
                                <a href="images/certificates/certi5_big.jpg" class="testi" data-fancybox-group="gallery">
                                    <img src="images/certificates/certi5.png">
                                </a>
                            </div>

                        </div>

                    </p>
                </div>
            </div>

        </div>
    </div>
</section>*@



<section class="section-padding" id="service">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- SECTION TITLE -->
                <div class="section-title text-center wow fadeInUp">
                    <span class="double-line"></span> <h2> <span class="red">Solutions</span></h2> <span class="double-line"></span>
                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum iusto illum, repudiandae facere neque voluptas vero hic quisquam, dolore autem pariatur sunt perspiciatis corrupti necessitatibus. Libero odit ipsa laudantium provident.</p>-->
                </div>
            </div><!-- /.col-md-6 col-md-offset-3 -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-md-4 col-sm-4" data-aos="fade-right">
                <div class="single-service wedo-img">
                    <a href="#"><img class="img-responsive" alt="service-image-1" src="images/solution1.jpg"></a>
                    <div class="service-details">
                        <h4>Applications</h4>
                        <p>RoofTech uses the latest American Technology to provide industrial.</p>

                    </div>
                </div>
            </div><!-- /.col-md-4 col-sm-4 -->
            <div class="col-md-4 col-sm-4" data-aos="fade-up">
                <div class="single-service wedo-img">
                    <a href="#"> <img class="img-responsive" alt="service-image-1" src="images/solution2.jpg"></a>
                    <div class="service-details">
                        <h4>Versatility</h4>
                        <p>Innovation is at the core of RoofTech. We provide best-in-class solutions.</p>

                    </div>
                </div>
            </div><!-- /.col-md-4 col-sm-4 -->
            <div class="col-md-4 col-sm-4 col-xs-12" data-aos="fade-left">
                <div class="single-service wedo-img">
                    <a href="#"> <img class="img-responsive" alt="service-image-1" src="images/solution3.jpg"></a>
                    <div class="service-details">
                        <h4>Accessories</h4>
                        <p>With RoofTech Roofing you can use all the accessories.</p>

                    </div>
                </div>
            </div><!-- /.col-md-4 col-sm-4 -->
        </div><!-- /.row- -->
    </div><!-- /.container- -->
</section>



<!-- Start Client Section -->
<section class="our-client-section  wedo-section1">
    <div class="container">
        <div class="row">
            <!-- client section title -->
            <div class="col-md-12">
                <div class="section-title text-center  wow fadeInUp">
                    <span class="double-line"></span>
                    <h2>Estimated <span class="red">Client</span></h2>
                    <span class="double-line"></span>
                </div>
            </div>
            <!-- ending client section title -->
        </div>
        <div class="row">
            <div class="client-area">
                <!-- client single list -->
                <div class="col-md-2 col-sm-3 col-xs-2" data-aos="zoom-in-down">
                    <div class="single-client"> <img src="images/clients/logo-1.png" alt=""> </div>
                </div>
                <!-- ending client single list -->
                <!-- client single list -->
                <div class="col-md-2 col-sm-3 col-xs-2" data-aos="zoom-in-down">
                    <div class="single-client"> <img src="images/clients/logo-2.png" alt=""> </div>
                </div>
                <!-- ending client single list -->
                <!-- client single list -->
                <div class="col-md-2 col-sm-3 col-xs-2" data-aos="zoom-in-down">
                    <div class="single-client"> <img src="images/clients/logo-3.png" alt=""> </div>
                </div>
                <!-- ending client single list -->
                <!-- client single list -->
                <div class="col-md-2 col-sm-3 col-xs-2" data-aos="zoom-in-down">
                    <div class="single-client"> <img src="images/clients/logo-4.png" alt=""> </div>
                </div>
                <!-- ending client single list -->
                <!-- client single list -->
                <div class="col-md-2 col-sm-3 col-xs-2" data-aos="zoom-in-down">
                    <div class="single-client"> <img src="images/clients/logo-5.png" alt=""> </div>
                </div>
                <!-- ending client single list -->
                <!-- client single list -->
                <div class="col-md-2 col-sm-3 col-xs-2" data-aos="zoom-in-down">
                    <div class="single-client"> <img src="images/clients/logo-6.png" alt=""> </div>
                </div>
                <!-- ending client single list -->
                <!-- client single list -->
                <div class="col-md-2 col-sm-3 col-xs-2" data-aos="zoom-in-down">
                    <div class="single-client"> <img src="images/clients/logo-7.png" alt=""> </div>
                </div>
                <!-- ending client single list -->
                <!-- ending client single list -->
                <!-- client single list -->
                <div class="col-md-2 col-sm-3 col-xs-2" data-aos="zoom-in-down">
                    <div class="single-client"> <img src="images/clients/logo-8.png" alt=""> </div>
                </div>
                <!-- ending client single list -->
                <!-- ending client single list -->
                <!-- client single list -->
                <div class="col-md-2 col-sm-3 col-xs-2" data-aos="zoom-in-down">
                    <div class="single-client"> <img src="images/clients/logo-9.png" alt=""> </div>
                </div>
                <!-- ending client single list -->
                <!-- ending client single list -->
                <!-- client single list -->
                <div class="col-md-2 col-sm-3 col-xs-2" data-aos="zoom-in-down">
                    <div class="single-client"> <img src="images/clients/logo-10.png" alt=""> </div>
                </div>
                <!-- ending client single list -->
                <!-- ending client single list -->
                <!-- client single list -->
                <div class="col-md-2 col-sm-3 col-xs-2" data-aos="zoom-in-down">
                    <div class="single-client"> <img src="images/clients/logo-11.png" alt=""> </div>
                </div>
                <!-- ending client single list -->
                <!-- ending client single list -->
                <!-- client single list -->
                <div class="col-md-2 col-sm-3 col-xs-2" data-aos="zoom-in-down">
                    <div class="single-client"> <img src="images/clients/logo-12.png" alt=""> </div>
                </div>
                <!-- ending client single list -->
                <!-- ending client single list -->
                <!-- client single list -->
                <div class="col-md-2 col-sm-3 col-xs-2" data-aos="zoom-in-down">
                    <div class="single-client"> <img src="images/clients/logo-13.png" alt=""> </div>
                </div>
                <!-- ending client single list -->
                <!-- ending client single list -->
                <!-- client single list -->
                <div class="col-md-2 col-sm-3 col-xs-2" data-aos="zoom-in-down">
                    <div class="single-client"> <img src="images/clients/logo-14.png" alt=""> </div>
                </div>
                <!-- ending client single list -->
                <!-- ending client single list -->
                <!-- client single list -->
                <div class="col-md-2 col-sm-3 col-xs-2" data-aos="zoom-in-down">
                    <div class="single-client"> <img src="images/clients/logo-15.png" alt=""> </div>
                </div>
                <!-- ending client single list -->
            </div>
        </div>
    </div>
</section>
<!-- End Client Section -->
