@{
    ViewData["Title"] = "HVLS Fans | Roofing Companies in India | Self Supported Roofing System | Warehouse Roofing";
    ViewData["PageName"] = "HVLS Fans";
}

<!-- Start Header Area background -->

<div id="inner-header">
    <img src="../images/inner_banner/product.jpg"> <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pages-header-content text-center">


                    <div class="breadcum">
                        <ul>
                            <li><a href="/home">Home</a></li>

                            <li><a href="#">Product Offering</a></li>
                            <li><a href="#">HVLS Fans </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Header Area background  -->
<!-- Start Service Details Goes Here -->
<section id="service-full-area" class="service-full-area section-padding">
    <div class="container">
        <div class="row">

            <div class="col-md-9 col-xs-12 right-side animated wow fadeInRight" data-wow-delay=".4s">
                <div class="about-us-slider">
                    <div class="service-slider flex-slider">
                        <ul class="slides">
                            <li><img src="images/product_offering/HVLS_fans.jpg" alt="" /></li>

                        </ul>
                    </div>
                </div>
                <div class="section-two">
                    <div class="col-sm-12">
                        <div class="er-single-service-content">
                            <div class="er-service-content">
                                <div id="content">

                                    <p>Rooftech, a division of  Dhruvanshi International. and promoted by the Group, delivers path-breaking innovations in Self Supported Steel Roofing. In the past 9 years, Rooftech has installed more than 25 lacs sq. mts. of Self Supported Steel Roofs through 500 projects. Rooftech leads the curve by serving a wide spectrum of segments, namely Warehousing, Cement, Engineering, Rice Mills, Sugar Factories, Textiles, Manufacturing & Processing, Food & Beverages, Pharmaceutical & Chemicals and Railways amongst others. It is also the number one choice of Indian corporate, business owners and new-age entrepreneurs. Recently, Rooftech launched its range of smart and efficient High Volume, Low Speed fans (HVLS) under the brand name- ProAir; delivering value-addition to its clients and strengthening its offerings.</p>

                                    <div class="section-one section-about top-none">
                                        <div class="single-item single-item-about no-padding">
                                            <div class="widget">
                                                <h4><span>About Proair</span></h4>
                                            </div>
                                        </div>
                                    </div>

                                    <p>Proair - High Volume, Low Speed fans (HVLS) are a type of mechanical fans that are greater than 7 feet (2.1 m) in diameter. They move slowly, but distribute large amount of air and hence the name, HVLS. A good quality HVLS fan can reduce the temperature of the surrounding by 7-11 degrees. They don’t just move air; they work smartly and efficiently to circulate air to positively impact the ambiance.</p>
                                    <p>
                                        HVLS fans produce high volume, cylindrical column of air that flows straight down to the floor and outward in all directions. Hence they are apt for large spaces where they consistently circulate air. They are mainly used for industrial and commercial applications where air conditioning is either costly or impractical. Fans installed in spaces like Warehouses, Hangars and Distribution Centers can prevent heat stress, and increase employee comfort and productivity.
                                    </p>
                                    <strong>Benefits</strong>
                                    <div class="gap-10"></div>
                                    <ul class="list-type">
                                        <li>Virtually Maintenance Free (Recommended inspection every 20,000 hours)</li>
                                        <li> Energy Efficient</li>
                                        <li> Even and Consistent Temperature</li>
                                        <li> Cool and Comfortable Work Environment</li>
                                        <li> Quiet, Efficient Operation</li>


                                    </ul>

                                    <p>
                                        Inexpensive to operate | No expensive duct work | One 24 ft fan can cover up to 1,500 sq. mt.<br>
                                        Motor of Japanese make | Inverter of German make
                                    </p>
                                    <div class="gap-10"></div>
                                    <strong>Safety Features</strong>
                                    <div class="gap-10"></div>
                                    <ul class="list-type">
                                        <li><h5>Retention Cable / Safety Cable</h5>They tie the mount, fan motor & gear box together to the building structure</li>
                                        <li><h5>Guy Wire / Guide Rope</h5>These help prevent unnecessary swaying of the fan, and also the movement of the fan because of draft</li>
                                        <li><h5>Safety Clips</h5>These are used to prevent the hub from falling</li>
                                        <li><h5>Safety Rings</h5>It holds the blade to the hub in case of any failure of hardware</li>

                                    </ul>
                                    <strong>HVLS Fans Specification</strong>
                                    <div class="gap-20"></div>
                                    <table>
                                        <thead>

                                        </thead>
                                        <tbody>
                                            <tr class="bg-color-tr">
                                                <td>Size</td>
                                                <td>7.3 m/ 24ft </td>

                                            </tr>
                                            <tr>
                                                <td>Motor Power</td>
                                                <td>1.5 kw </td>

                                            </tr>
                                            <tr class="bg-color-tr">
                                                <td>Rated Voltage</td>
                                                <td>220 V/ 380 V </td>

                                            </tr>
                                            <tr>
                                                <td>Torque</td>
                                                <td>280 Nm</td>

                                            </tr>
                                            <tr class="bg-color-tr">
                                                <td>Rated Speed </td>
                                                <td>51 r/ min</td>

                                            </tr>
                                            <tr>
                                                <td>Air Volume(CFM)</td>
                                                <td>437.471</td>

                                            </tr>

                                            <tr class="bg-color-tr">
                                                <td>Coverage Area(sq. mt.)</td>
                                                <td>1500</td>

                                            </tr>

                                            <tr>
                                                <td>Max Effect Radium</td>
                                                <td>27 m</td>

                                            </tr>

                                            <tr class="bg-color-tr">
                                                <td>Suggested Mounting Height</td>
                                                <td>7-8 m</td>

                                            </tr>

                                            <tr>
                                                <td>Dead - Weight</td>
                                                <td>149.7 kg</td>

                                            </tr>
                                            <tr class="bg-color-tr">
                                                <td>Noise </td>
                                                <td>64 dB</td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    Electricity Consumption
                                                </td>
                                                <td>1.5 kw/ hour</td>

                                            </tr>

                                        </tbody>
                                    </table>
                                    <div class="gap-20"></div>
                                    <strong>Applications</strong>
                                    <div class="gap-10"></div>
                                    <ul class="list-type">
                                        <li>Manufacturing | Processing | Warehousing | Food & Beverages | Engineering</li>
                                        <li>Sugar Mills  |  Sports Complexes  |  Dairy  |  Packaging  |  Plastic  |  Airports</li>
                                        <li>Aircraft Hangars | Logistics Hubs | Automobile | Dairies | Textile</li>
                                        <li>Educational Institutes | Community Halls | Railways</li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 left-side">
                <div class="widget">
                    <h4><span>Product Offering</span></h4>
                </div>
                <div class="er-service-list">
                    <ul>
                        <li onclick="location.href='/ProductOffering/SteelBuildings';"><a href="/ProductOffering/SteelBuildings"><i class="fa fa-angle-right"></i>Rooftech Steel Buildings</a></li>
                        <li onclick="location.href='/ProductOffering/HVLS_fans';" class="active"><a href="/ProductOffering/HVLS_fans"><i class="fa fa-angle-right"></i> HVLS Fans</a></li>
                        <li onclick="location.href='/ProductOffering/standing_seam_roof';"><a href="/ProductOffering/standing_seam_roof"><i class="fa fa-angle-right"></i>Standing Seam Roof</a></li>
                        <li onclick="location.href='/ProductOffering/wind_driven_ventilators';"><a href="/ProductOffering/wind_driven_ventilators"><i class="fa fa-angle-right"></i>Wind Driven Ventilators</a></li>
                        <li onclick="location.href='/ProductOffering/skylights';"><a href="/ProductOffering/skylights"><i class="fa fa-angle-right"></i> Skylights</a></li>
                        <!--<li onclick="location.href='';"><a href="#"><i class="fa fa-angle-right"></i>Hybrid Roofing (For Larger Spans) </a></li>-->


                    </ul>
                </div>
                <div class="widget">
                    <h4><span>Download</span></h4>
                    <div class="download-prospectus"> <a href="/DownloadBrochure"><i class="fa fa-download" aria-hidden="true"></i> Download Brochure</a> </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Service Details Goes Here --> 