@{
    ViewData["Title"] = "Natural Lighting | Skylight Roof India | Fastest Roofing | Roofing in India | Roofing Companies in India";
    ViewData["PageName"] = "Skylights";
}

<div id="inner-header">
    <img src="../images/inner_banner/product.jpg"> <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pages-header-content text-center">


                    <div class="breadcum">
                        <ul>
                            <li><a href="/home">Home</a></li>

                            <li><a href="#">Product Offering</a></li>
                            <li><a href="#">Skylights </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Header Area background  -->
<!-- Start Service Details Goes Here -->
<section id="service-full-area" class="service-full-area section-padding">
    <div class="container">
        <div class="row">

            <div class="col-md-9 col-xs-12 right-side animated wow slideInRight" data-wow-delay=".4s">
                <!--<div class="section-one section-about">
                  <div class="single-item single-item-about">
                    <div class="widget">
                      <h4><span>Skylights</span></h4>
                    </div>
                  </div>
                </div>-->
                <div class="section-two">
                    <div class="col-sm-12">
                        <div class="er-single-service-content">
                            <div class="er-service-content">
                                <div id="content">
                                    <div class="about-us-slider">
                                        <div class="service-slider flex-slider">
                                            <ul class="slides">
                                                <li><img src="../images/product_offering/Skylight1.jpg" alt="" /></li>
                                                <li><img src="../images/product_offering/Skylight2.jpg" alt="" /></li>

                                            </ul>
                                        </div>
                                    </div>
                                    <p>Rooftech offers polycarbonate material skylights for natural lighting. These can be fixed by our team at regular intervals along the length of the roof. The layout can be decided in consultation with the client and considering the amount of natural light requirements.</p>











                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 left-side">
                <div class="widget">
                    <h4><span>Product Offering</span></h4>
                </div>
                <div class="er-service-list">
                    <ul>
                        <li onclick="location.href='/ProductOffering/SteelBuildings';"><a href="/ProductOffering/SteelBuildings"><i class="fa fa-angle-right"></i>Rooftech Steel Buildings</a></li>
                        <li onclick="location.href='/ProductOffering/HVLS_fans';" ><a href="/ProductOffering/HVLS_fans"><i class="fa fa-angle-right"></i> HVLS Fans</a></li>
                        <li onclick="location.href='/ProductOffering/standing_seam_roof';"><a href="/ProductOffering/standing_seam_roof"><i class="fa fa-angle-right"></i>Standing Seam Roof</a></li>
                        <li onclick="location.href='/ProductOffering/wind_driven_ventilators';"><a href="/ProductOffering/wind_driven_ventilators"><i class="fa fa-angle-right"></i>Wind Driven Ventilators</a></li>
                        <li onclick="location.href='/ProductOffering/skylights';" class="active"><a href="/ProductOffering/skylights"><i class="fa fa-angle-right"></i> Skylights</a></li>
                        <!--<li onclick="location.href='';"><a href="#"><i class="fa fa-angle-right"></i>Hybrid Roofing (For Larger Spans) </a></li>-->


                    </ul>
                </div>
                <div class="widget">
                    <h4><span>Download</span></h4>
                    <div class="download-prospectus"> <a href="/DownloadBrochure"><i class="fa fa-download" aria-hidden="true"></i> Download Brochure</a> </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Service Details Goes Here --> 