@{
    ViewData["Title"] = "Wind Driven Ventilators | Standard Turbo Ventilator | Advanced Turbo Ventilator | Fastest Roofing | Roofing in India";
    ViewData["PageName"] = "Wind Driven Ventilators";
}

<!-- Start Header Area background -->

<div id="inner-header">
    <img src="../images/inner_banner/product.jpg"> <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pages-header-content text-center">


                    <div class="breadcum">
                        <ul>
                            <li><a href="/home">Home</a></li>

                            <li><a href="#">Product Offering</a></li>
                            <li><a href="#">Wind Driven Ventilators </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Header Area background  -->
<!-- Start Service Details Goes Here -->
<section id="service-full-area" class="service-full-area section-padding">
    <div class="container">
        <div class="row">

            <div class="col-md-9 col-xs-12 right-side animated wow bounceInUp" data-wow-delay=".4s">
                <!--<div class="section-one section-about">
                  <div class="single-item single-item-about">
                    <div class="widget">
                      <h4><span>Wind Driven Turbo Ventilator</span></h4>
                    </div>
                  </div>
                </div>-->
                <div class="section-two">
                    <div class="col-sm-12">
                        <div class="er-single-service-content">
                            <div class="er-service-content">
                                <div id="content">

                                    <div class="about-us-slider">
                                        <div class="service-slider flex-slider">
                                            <ul class="slides">
                                                <li><img src="images/product_offering/Ventilator.jpg" alt="" /></li>

                                            </ul>
                                        </div>
                                    </div>
                                    <strong>Features of standard turbo ventilator & advanced turbo ventilator</strong>
                                    <ul class="list-type">

                                        <li>	No Electricity </li>
                                        <li>	No Wiring</li>
                                        <li>	No Running Expenses</li>
                                        <li>	Maintenance  Free</li>
                                        <li>	Fresh Air 24 x 7</li>
                                        <li>	Noiseless Operation </li>
                                        <li>	No Ingress of Rain Water</li>
                                        <li>	Exhausts Stale, Hot, Humid & Fumes/ Pollutants </li>
                                        <li>	Non-stop Induced Ventilation even in absence of breeze</li>
                                        <li>	Ensures Rotation at the Lowest Wind Velocity </li>
                                        <li>	Withstands High Wind Velocity</li>


                                    </ul>


                                    <strong>Importance and application of ventilators </strong>
                                    <div class="gap-10"></div>

                                    <p>One of the major concerns for most industrial workplaces and sheds is proper ventilation. The lack of which can lead to the build-up of heat, moisture, pollution and even potentially harmful chemicals in the air inside the buildings or industrial sheds. Natural ventilation is gaining prominence with Wind Driven Turbo Ventilators replacing the conventional ventilators and exhaust fans that run on electricity.</p>
                                    <p>An effective and efficient exhaust system, Wind Driven Turbo Ventilators, remove hot and stale air from the working space of industries, warehouses, workshops and other enclosed structures without use of electricity. The mechanics involved is simple; when the hot air inside the building /shed tends to rise up, the turbines rotate and suck the warm air out through the vent, thereby, bringing a drop in the temperature of the shed and allowing supply of fresh air through doors and windows. Powered by wind, our range of Wind Driven Turbo Ventilators work effectively in low wind velocity and can withstand high velocity of wind as well. </p>
















                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 left-side">
                <div class="widget">
                    <h4><span>Product Offering</span></h4>
                </div>
                <div class="er-service-list">
                    <ul>
                        <li onclick="location.href='/ProductOffering/SteelBuildings';"><a href="/ProductOffering/SteelBuildings"><i class="fa fa-angle-right"></i>Rooftech Steel Buildings</a></li>
                        <li onclick="location.href='/ProductOffering/HVLS_fans';"><a href="/ProductOffering/HVLS_fans"><i class="fa fa-angle-right"></i> HVLS Fans</a></li>
                        <li onclick="location.href='/ProductOffering/standing_seam_roof';"><a href="/ProductOffering/standing_seam_roof"><i class="fa fa-angle-right"></i>Standing Seam Roof</a></li>
                        <li onclick="location.href='/ProductOffering/wind_driven_ventilators';" class="active"><a href="/ProductOffering/wind_driven_ventilators"><i class="fa fa-angle-right"></i>Wind Driven Ventilators</a></li>
                        <li onclick="location.href='/ProductOffering/skylights';"><a href="/ProductOffering/skylights"><i class="fa fa-angle-right"></i> Skylights</a></li>
                        <!--<li onclick="location.href='';"><a href="#"><i class="fa fa-angle-right"></i>Hybrid Roofing (For Larger Spans) </a></li>-->


                    </ul>
                </div>
                <div class="widget">
                    <h4><span>Download</span></h4>
                    <div class="download-prospectus"> <a href="/DownloadBrochure"><i class="fa fa-download" aria-hidden="true"></i> Download Brochure</a> </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Service Details Goes Here --> 