@{
    ViewData["Title"] = "Roofing | Metal Roofing | Roofing Companies | Industrial Roofing | Factory Roofing | Warehouse Roofing";
    ViewData["PageName"] = "Industry";
}

<!-- Start Header Area background -->

<div id="inner-header">
    <img src="../images/inner_banner/projects_industry.jpg"> <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pages-header-content text-center">


                    <div class="breadcum">
                        <ul>
                            <li><a href="/home">Home</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="projects_by_industry.html">Industry </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Header Area background  -->
<!-- Start Service Details Goes Here -->
<section id="service-full-area" class="service-full-area section-padding">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-xs-12">
                <!--<div class="section-one section-about">
                  <div class="single-item single-item-about">
                    <div class="widget">
                      <h4><span>Industry</span></h4>
                    </div>

                  </div>
                </div>-->
                <div class="section-two">
                    <div class="col-sm-12">
                        <div class="er-single-service-content">
                            <div class="er-service-content">
                                <div id="content">
                                    <div class="projects animated wow bounceInUp" data-wow-delay=".4s">

                                        <div class="row">
                                            <!-- single project -->


                                            <a name="p0"></a>
                                            <div class="col-md-3 col-sm-3 industry-img">
                                                <div class="project-content">
                                                    <img src="../images/projects/AircraftHangars/1-thumb.jpg" alt="">
                                                    <div class="proj-img-hover">


                                                        <div class="proj-link">
                                                            <a class="view-img aircraft" href="../images/projects/AircraftHangars/1.jpg" data-fancybox-group="gallery" title="Govt. Flying School"><i class="fa fa-search"></i></a>
                                                            <a class="view-img aircraft" href="../images/projects/AircraftHangars/2.jpg" data-fancybox-group="gallery" title="Govt. Flying School"></a>
                                                            <a class="view-img aircraft" href="../images/projects/AircraftHangars/3.jpg" data-fancybox-group="gallery" title="Govt. Flying School"></a>
                                                            <a class="view-img aircraft" href="../images/projects/AircraftHangars/4.jpg" data-fancybox-group="gallery" title="Govt. Flying School"></a>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="proj-text">
                                                    <h4>Aircraft Hangars</h4>
                                                </div>
                                            </div>

                                            <div class="col-md-3 col-sm-3 industry-img">
                                                <div class="project-content">
                                                    <a href="#"><img src="../images/projects/Automobile/1-thumb.jpg" alt=""></a>
                                                    <div class="proj-img-hover">


                                                        <div class="proj-link">
                                                            <a class="view-img automobile" href="../images/projects/Automobile/1.jpg" data-fancybox-group="gallery" title="Atul Motors"><i class="fa fa-search"></i></a>
                                                            <a class="view-img automobile" href="../images/projects/Automobile/2.jpg" data-fancybox-group="gallery" title="Atul Motors"></a>
                                                            <a class="view-img automobile" href="../images/projects/Automobile/3.jpg" data-fancybox-group="gallery" title="Atul Motors"></a>
                                                            <a class="view-img automobile" href="../images/projects/Automobile/4.jpg" data-fancybox-group="gallery" title="Automobile Auto Antariksh"></a>
                                                            <a class="view-img automobile" href="../images/projects/Automobile/5.jpg" data-fancybox-group="gallery" title="Automobile"></a>
                                                            <a class="view-img automobile" href="../images/projects/Automobile/6.jpg" data-fancybox-group="gallery" title="Automobile"></a>
                                                            <a class="view-img automobile" href="../images/projects/Automobile/7.jpg" data-fancybox-group="gallery" title="Automobile"></a>
                                                            <a class="view-img automobile" href="../images/projects/Automobile/8.jpg" data-fancybox-group="gallery" title="Automobile Workshop"></a>
                                                            <a class="view-img automobile" href="../images/projects/Automobile/9.jpg" data-fancybox-group="gallery" title="Automobile Workshop"></a>
                                                            <a class="view-img automobile" href="../images/projects/Automobile/10.jpg" data-fancybox-group="gallery" title="Automobile Workshop"></a>
                                                            <a class="view-img automobile" href="../images/projects/Automobile/11.jpg" data-fancybox-group="gallery" title="Automobile"></a>
                                                            <a class="view-img automobile" href="../images/projects/Automobile/12.jpg" data-fancybox-group="gallery" title="Sky Automobiles - Raipur"></a>
                                                            <a class="view-img automobile" href="../images/projects/Automobile/13.jpg" data-fancybox-group="gallery" title="Sky Automobiles - Raipur"></a>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="proj-text">
                                                    <h4>Automobile</h4>
                                                </div>
                                            </div>

                                            <div class="col-md-3 col-sm-3 industry-img">
                                                <div class="project-content">
                                                    <a href="#"><img src="../images/projects/Cattleshed/1-thumb.jpg" alt=""></a>
                                                    <div class="proj-img-hover">


                                                        <div class="proj-link">
                                                            <a class="view-img cattleshed" href="../images/projects/Cattleshed/1.jpg" data-fancybox-group="gallery" title="Cattle Shed"><i class="fa fa-search"></i></a>
                                                            <a class="view-img cattleshed" href="../images/projects/Cattleshed/2.jpg" data-fancybox-group="gallery" title="Cattle Shed"></a>
                                                            <a class="view-img cattleshed" href="../images/projects/Cattleshed/3.jpg" data-fancybox-group="gallery" title="Cattle Shed"></a>
                                                            <a class="view-img cattleshed" href="../images/projects/Cattleshed/4.jpg" data-fancybox-group="gallery" title="Cattle Shed"></a>
                                                            <a class="view-img cattleshed" href="../images/projects/Cattleshed/5.jpg" data-fancybox-group="gallery" title="Cattle Shed"></a>
                                                            <a class="view-img cattleshed" href="../images/projects/Cattleshed/6.jpg" data-fancybox-group="gallery" title="Cattle Shed"></a>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="proj-text">
                                                    <h4>Cattle Shed</h4>
                                                </div>
                                            </div>

                                            <div class="col-md-3 col-sm-3 industry-img">
                                                <div class="project-content">
                                                    <a href="#"><img src="../images/projects/Cement/1-thumb.jpg" alt=""></a>
                                                    <div class="proj-img-hover">


                                                        <div class="proj-link">
                                                            <a class="view-img cement" href="../images/projects/Cement/1.jpg" data-fancybox-group="gallery" title="J K Laxmi"><i class="fa fa-search"></i></a>
                                                            <a class="view-img cement" href="../images/projects/Cement/2.jpg" data-fancybox-group="gallery" title="Bharti Cement"></a>
                                                            <a class="view-img cement" href="../images/projects/Cement/3.jpg" data-fancybox-group="gallery" title="Jaypee Cement"></a>
                                                            <a class="view-img cement" href="../images/projects/Cement/4.jpg" data-fancybox-group="gallery" title="UltraTech Cement"></a>

                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="proj-text">
                                                    <h4>Cement</h4>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="project-gap-25"></div>
                                        <div class="row">

                                            <a name="p1"></a>

                                            <div class="col-md-3 col-sm-3 industry-img">
                                                <div class="project-content">
                                                    <a href="#"><img src="../images/projects/CommericalRetailOutlets/1-thumb.jpg" alt=""></a>
                                                    <div class="proj-img-hover">


                                                        <div class="proj-link">
                                                            <a class="view-img commerical" href="../images/projects/CommericalRetailOutlets/1.jpg" data-fancybox-group="gallery" title="North East Corner"><i class="fa fa-search"></i></a>

                                                            <a class="view-img commerical" href="../images/projects/CommericalRetailOutlets/2.jpg" data-fancybox-group="gallery" title="North East Corner"></a>

                                                            <a class="view-img commerical" href="../images/projects/CommericalRetailOutlets/3.jpg" data-fancybox-group="gallery" title="Reliance"></a>

                                                            <a class="view-img commerical" href="../images/projects/CommericalRetailOutlets/4.jpg" data-fancybox-group="gallery" title="Reliance"></a>

                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="proj-text">
                                                    <h4>Commerical & Retail Outlets</h4>
                                                </div>
                                            </div>


                                            <div class="col-md-3 col-sm-3 industry-img">
                                                <div class="project-content">
                                                    <a href="#"><img src="../images/projects/CommunityExhibitionHalls/1-thumb.jpg" alt=""></a>
                                                    <div class="proj-img-hover">


                                                        <div class="proj-link">
                                                            <a class="view-img community" href="../images/projects/CommunityExhibitionHalls/1.jpg" data-fancybox-group="gallery" title="Chhayadeep Lawns"><i class="fa fa-search"></i></a>

                                                            <a class="view-img community" href="../images/projects/CommunityExhibitionHalls/2.jpg" data-fancybox-group="gallery" title="Chhayadeep Lawns"></a>
                                                            <a class="view-img community" href="../images/projects/CommunityExhibitionHalls/3.jpg" data-fancybox-group="gallery" title="Swaminarayan"></a>
                                                            <a class="view-img community" href="../images/projects/CommunityExhibitionHalls/4.jpg" data-fancybox-group="gallery" title="Swaminarayan"></a>
                                                            <a class="view-img community" href="../images/projects/CommunityExhibitionHalls/5.jpg" data-fancybox-group="gallery" title="Swaminarayan"></a>
                                                            <a class="view-img community" href="../images/projects/CommunityExhibitionHalls/6.jpg" data-fancybox-group="gallery" title="Tulsi Party Plot"></a>
                                                            <a class="view-img community" href="../images/projects/CommunityExhibitionHalls/7.jpg" data-fancybox-group="gallery" title="Tulsi Party Plot"></a>
                                                            <a class="view-img community" href="../images/projects/CommunityExhibitionHalls/8.jpg" data-fancybox-group="gallery" title="Tulsi Party Plot"></a>
                                                            <a class="view-img community" href="../images/projects/CommunityExhibitionHalls/9.jpg" data-fancybox-group="gallery" title="Roof"></a>
                                                            <a class="view-img community" href="../images/projects/CommunityExhibitionHalls/10.jpg" data-fancybox-group="gallery" title="Roof"></a>
                                                            <a class="view-img community" href="../images/projects/CommunityExhibitionHalls/11.jpg" data-fancybox-group="gallery" title="Roof"></a>

                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="proj-text">
                                                    <h4>Community & Exhibition Halls</h4>
                                                </div>
                                            </div>



                                            <div class="col-md-3 col-sm-3 industry-img">
                                                <div class="project-content">
                                                    <a href="#"><img src="../images/projects/Dairy/1-thumb.jpg" alt=""></a>
                                                    <div class="proj-img-hover">


                                                        <div class="proj-link">
                                                            <a class="view-img dairy" href="../images/projects/Dairy/1.jpg" data-fancybox-group="gallery" title="Amul"><i class="fa fa-search"></i></a>

                                                            <a class="view-img dairy" href="../images/projects/Dairy/2.jpg" data-fancybox-group="gallery" title="NDDB"></a>

                                                            <a class="view-img dairy" href="../images/projects/Dairy/3.jpg" data-fancybox-group="gallery" title="NDDB"></a>

                                                            <a class="view-img dairy" href="../images/projects/Dairy/4.jpg" data-fancybox-group="gallery" title="Dairy"></a>

                                                            <a class="view-img dairy" href="../images/projects/Dairy/5.jpg" data-fancybox-group="gallery" title="Dairy"></a>

                                                            <a class="view-img dairy" href="../images/projects/Dairy/6.jpg" data-fancybox-group="gallery" title="NDDB"></a>

                                                            <a class="view-img dairy" href="../images/projects/Dairy/7.jpg" data-fancybox-group="gallery" title="NDDB"></a>

                                                            <a class="view-img dairy" href="../images/projects/Dairy/8.jpg" data-fancybox-group="gallery" title="NDDB"></a>
                                                        </div>
                                                    </div>

                                                </div>
                                                <a name="p1"></a>
                                                <div class="proj-text">
                                                    <h4>Dairy</h4>
                                                </div>
                                            </div>

                                            <div class="col-md-3 col-sm-3 industry-img">
                                                <div class="project-content">
                                                    <a href="#"><img src="../images/projects/Defence/1-thumb.jpg" alt=""></a>
                                                    <div class="proj-img-hover">


                                                        <div class="proj-link">
                                                            <a class="view-img defence" href="../images/projects/Defence/1.jpg" data-fancybox-group="gallery" title="Defence"><i class="fa fa-search"></i></a>
                                                            <a class="view-img defence" href="../images/projects/Defence/2.jpg" data-fancybox-group="gallery" title="Defence"></a>
                                                            <a class="view-img defence" href="../images/projects/Defence/3.jpg" data-fancybox-group="gallery" title="Defence"></a>
                                                            <a class="view-img defence" href="../images/projects/Defence/4.jpg" data-fancybox-group="gallery" title="Defence"></a>
                                                            <a class="view-img defence" href="../images/projects/Defence/5.jpg" data-fancybox-group="gallery" title="Defence"></a>

                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="proj-text">
                                                    <h4>Defence</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="project-gap-25"></div>
                                        <div class="row">


                                            <a name="p2"></a>


                                            <div class="col-md-3 col-sm-3 industry-img">
                                                <div class="project-content">
                                                    <a href="#"><img src="../images/projects/EducationalInsitute/1-thumb.jpg" alt=""></a>
                                                    <div class="proj-img-hover">


                                                        <div class="proj-link">
                                                            <a class="view-img educational" href="../images/projects/EducationalInsitute/1.jpg" data-fancybox-group="gallery" title="NeoTech Foundation"><i class="fa fa-search"></i></a>
                                                            <a class="view-img educational" href="../images/projects/EducationalInsitute/2.jpg" data-fancybox-group="gallery" title="NeoTech Foundation"></a>

                                                            <a class="view-img educational" href="../images/projects/EducationalInsitute/3.jpg" data-fancybox-group="gallery" title="NeoTech Foundation"></a>

                                                            <a class="view-img educational" href="../images/projects/EducationalInsitute/4.jpg" data-fancybox-group="gallery" title="NeoTech Foundation"></a>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="proj-text">
                                                    <h4>Educational Insttute</h4>
                                                </div>
                                            </div>

                                            <div class="col-md-3 col-sm-3 industry-img">
                                                <div class="project-content">
                                                    <a href="#"><img src="../images/projects/ElectricalAndElectronics/1-thumb.jpg" alt=""></a>
                                                    <div class="proj-img-hover">


                                                        <div class="proj-link">
                                                            <a class="view-img electrical" href="../images/projects/ElectricalAndElectronics/1.jpg" data-fancybox-group="gallery" title="C&S Electric"><i class="fa fa-search"></i></a>
                                                            <a class="view-img electrical" href="../images/projects/ElectricalAndElectronics/2.jpg" data-fancybox-group="gallery" title="Electrical and Electronics"></a>

                                                            <a class="view-img electrical" href="../images/projects/ElectricalAndElectronics/3.jpg" data-fancybox-group="gallery" title="Electrical and Electronics"></a>

                                                            <a class="view-img electrical" href="../images/projects/ElectricalAndElectronics/4.jpg" data-fancybox-group="gallery" title="Electrical and Electronics"></a>

                                                            <a class="view-img electrical" href="../images/projects/ElectricalAndElectronics/5.jpg" data-fancybox-group="gallery" title="Electrical and Electronics"></a>

                                                            <a class="view-img electrical" href="../images/projects/ElectricalAndElectronics/6.jpg" data-fancybox-group="gallery" title="Electrical and Electronics"></a>

                                                            <a class="view-img electrical" href="../images/projects/ElectricalAndElectronics/7.jpg" data-fancybox-group="gallery" title="Electrical and Electronics"></a>

                                                            <a class="view-img electrical" href="../images/projects/ElectricalAndElectronics/8.jpg" data-fancybox-group="gallery" title="Electrical and Electronics"></a>


                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="proj-text">
                                                    <h4>Electrical and Electronics</h4>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-3 industry-img">
                                                <div class="project-content">
                                                    <a href="#"><img src="../images/projects/Engineering/1-thumb.jpg" alt=""></a>
                                                    <div class="proj-img-hover">


                                                        <div class="proj-link">
                                                            <a class="view-img engineering" href="../images/projects/Engineering/1.jpg" data-fancybox-group="gallery" title="Engineering"><i class="fa fa-search"></i></a>

                                                            <a class="view-img engineering" href="../images/projects/Engineering/2.jpg" data-fancybox-group="gallery" title="Engineering"></a>
                                                            <a class="view-img engineering" href="../images/projects/Engineering/3.jpg" data-fancybox-group="gallery" title="Engineering"></a>
                                                            <a class="view-img engineering" href="../images/projects/Engineering/4.jpg" data-fancybox-group="gallery" title="Engineering"></a>
                                                            <a class="view-img engineering" href="../images/projects/Engineering/5.jpg" data-fancybox-group="gallery" title="Engineering"></a>
                                                            <a class="view-img engineering" href="../images/projects/Engineering/6.jpg" data-fancybox-group="gallery" title="Engineering"></a>
                                                            <a class="view-img engineering" href="../images/projects/Engineering/7.jpg" data-fancybox-group="gallery" title="Engineering"></a>
                                                            <a class="view-img engineering" href="../images/projects/Engineering/8.jpg" data-fancybox-group="gallery" title="ABC Cranes"></a>
                                                            <a class="view-img engineering" href="../images/projects/Engineering/9.jpg" data-fancybox-group="gallery" title="Engineering"></a>
                                                            <a class="view-img engineering" href="../images/projects/Engineering/9.jpg" data-fancybox-group="gallery" title="Engineering"></a>
                                                            <a class="view-img engineering" href="../images/projects/Engineering/10.jpg" data-fancybox-group="gallery" title="ENPRO"></a>
                                                            <a class="view-img engineering" href="../images/projects/Engineering/11.jpg" data-fancybox-group="gallery" title="ENPRO"></a>
                                                            <a class="view-img engineering" href="../images/projects/Engineering/12.jpg" data-fancybox-group="gallery" title="Real Enginering"></a>
                                                            <a class="view-img engineering" href="../images/projects/Engineering/13.jpg" data-fancybox-group="gallery" title="Sharp Engineering"></a>
                                                            <a class="view-img engineering" href="../images/projects/Engineering/14.jpg" data-fancybox-group="gallery" title="Sharp Engineering"></a>
                                                            <a class="view-img engineering" href="../images/projects/Engineering/15.jpg" data-fancybox-group="gallery" title="Team India"></a>
                                                        </div>
                                                    </div>

                                                </div>
                                                <a name="p2"></a>
                                                <div class="proj-text">
                                                    <h4>Engineering</h4>
                                                </div>
                                            </div>

                                            <div class="col-md-3 col-sm-3 industry-img">
                                                <div class="project-content">
                                                    <a href="#"><img src="../images/projects/FoodAndBeverages/1-thumb.jpg" alt=""></a>
                                                    <div class="proj-img-hover">


                                                        <div class="proj-link">
                                                            <a class="view-img food" href="../images/projects/FoodAndBeverages/1.jpg" data-fancybox-group="gallery" title="Carlsberg"><i class="fa fa-search"></i></a>

                                                            <a class="view-img food" href="../images/projects/FoodAndBeverages/2.jpg" data-fancybox-group="gallery" title="Carlsberg"></a>

                                                            <a class="view-img food" href="../images/projects/FoodAndBeverages/3.jpg" data-fancybox-group="gallery" title="D R Packers"></a>

                                                            <a class="view-img food" href="../images/projects/FoodAndBeverages/4.jpg" data-fancybox-group="gallery" title="Food And Beverages"></a>

                                                            <a class="view-img food" href="../images/projects/FoodAndBeverages/5.jpg" data-fancybox-group="gallery" title="Food And Beverages"></a>

                                                            <a class="view-img food" href="../images/projects/FoodAndBeverages/6.jpg" data-fancybox-group="gallery" title="Parampara Food - Pune"></a>

                                                            <a class="view-img food" href="../images/projects/FoodAndBeverages/7.jpg" data-fancybox-group="gallery" title="Parampara Food - Pune"></a>
                                                            <a class="view-img food" href="../images/projects/FoodAndBeverages/8.jpg" data-fancybox-group="gallery" title="Patco"></a>
                                                            <a class="view-img food" href="../images/projects/FoodAndBeverages/9.jpg" data-fancybox-group="gallery" title="Patco"></a>
                                                            <a class="view-img food" href="../images/projects/FoodAndBeverages/10.jpg" data-fancybox-group="gallery" title="Regent"></a>

                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="proj-text">
                                                    <h4>Food and Beverages</h4>
                                                </div>
                                            </div>
                                        </div>



                                        <div class="project-gap-25"></div>


                                        <div class="row">
                                            <!-- single project -->


                                            <div class="col-md-3 col-sm-3 industry-img">
                                                <div class="project-content">
                                                    <img src="../images/projects/IndustrailSheds/1-thumb.jpg" alt="">
                                                    <div class="proj-img-hover">


                                                        <div class="proj-link">
                                                            <a class="view-img industrail" href="../images/projects/IndustrailSheds/1.jpg" data-fancybox-group="gallery" title="Industrial Sheds"><i class="fa fa-search"></i></a>
                                                            <a class="view-img industrail" href="../images/projects/IndustrailSheds/2.jpg" data-fancybox-group="gallery" title="Industrial Sheds"></a>
                                                            <a class="view-img industrail" href="../images/projects/IndustrailSheds/3.jpg" data-fancybox-group="gallery" title="Industrial Sheds"></a>

                                                            <a class="view-img industrail" href="../images/projects/IndustrailSheds/4.jpg" data-fancybox-group="gallery" title="Industrial Sheds"></a>
                                                            <a class="view-img industrail" href="../images/projects/IndustrailSheds/5.jpg" data-fancybox-group="gallery" title="Industrial Sheds"></a>
                                                            <a class="view-img industrail" href="../images/projects/IndustrailSheds/6.jpg" data-fancybox-group="gallery" title="Industrial Sheds"></a>
                                                            <a class="view-img industrail" href="../images/projects/IndustrailSheds/7.jpg" data-fancybox-group="gallery" title="Industrial Sheds"></a>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="proj-text">
                                                    <h4>Industrial Sheds</h4>
                                                </div>
                                            </div>

                                            <div class="col-md-3 col-sm-3 industry-img">
                                                <div class="project-content">
                                                    <a href="#"><img src="../images/projects/ManufacturingAndProcessing/1-thumb.jpg" alt=""></a>
                                                    <div class="proj-img-hover">


                                                        <div class="proj-link">
                                                            <a class="view-img manufacturing" href="../images/projects/ManufacturingAndProcessing/1.jpg" data-fancybox-group="gallery" title="Manufacturing and Processing"><i class="fa fa-search"></i></a>
                                                            <a class="view-img manufacturing" href="../images/projects/ManufacturingAndProcessing/2.jpg" data-fancybox-group="gallery" title="Manufacturing and Processing"></a>
                                                            <a class="view-img manufacturing" href="../images/projects/ManufacturingAndProcessing/3.jpg" data-fancybox-group="gallery" title="Manufacturing and Processing"></a>
                                                            <a class="view-img manufacturing" href="../images/projects/ManufacturingAndProcessing/4.jpg" data-fancybox-group="gallery" title="Ashey"></a>
                                                            <a class="view-img manufacturing" href="../images/projects/ManufacturingAndProcessing/5.jpg" data-fancybox-group="gallery" title="Manufacturing and Processing"></a>
                                                            <a class="view-img manufacturing" href="../images/projects/ManufacturingAndProcessing/6.jpg" data-fancybox-group="gallery" title="Manufacturing and Processing"></a>
                                                            <a class="view-img manufacturing" href="../images/projects/ManufacturingAndProcessing/7.jpg" data-fancybox-group="gallery" title="Manufacturing and Processing"></a>
                                                            <a class="view-img manufacturing" href="../images/projects/ManufacturingAndProcessing/8.jpg" data-fancybox-group="gallery" title="Manufacturing and Processing"></a>
                                                            <a class="view-img manufacturing" href="../images/projects/ManufacturingAndProcessing/9.jpg" data-fancybox-group="gallery" title="Manufacturing and Processing"></a>
                                                            <a class="view-img manufacturing" href="../images/projects/ManufacturingAndProcessing/10.jpg" data-fancybox-group="gallery" title="Manufacturing and Processing"></a>
                                                            <a class="view-img manufacturing" href="../images/projects/ManufacturingAndProcessing/11.jpg" data-fancybox-group="gallery" title="Mersen"></a>
                                                            <a class="view-img manufacturing" href="../images/projects/ManufacturingAndProcessing/12.jpg" data-fancybox-group="gallery" title="Oriental Rubbers"></a>
                                                            <a class="view-img manufacturing" href="../images/projects/ManufacturingAndProcessing/13.jpg" data-fancybox-group="gallery" title="Manufacturing and Processing"></a>
                                                            <a class="view-img manufacturing" href="../images/projects/ManufacturingAndProcessing/14.jpg" data-fancybox-group="gallery" title="Manufacturing and Processing"></a>
                                                            <a class="view-img manufacturing" href="../images/projects/ManufacturingAndProcessing/15.jpg" data-fancybox-group="gallery" title="Manufacturing and Processing"></a>
                                                            <a class="view-img manufacturing" href="../images/projects/ManufacturingAndProcessing/16.jpg" data-fancybox-group="gallery" title="TK Halli Water Treatment Plant"></a>

                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="proj-text">
                                                    <h4>Manufacturing & Processing</h4>
                                                </div>
                                            </div>

                                            <div class="col-md-3 col-sm-3 industry-img">
                                                <div class="project-content">
                                                    <a href="#"><img src="../images/projects/PharmaceuticalsAndChemicals/1-thumb.jpg" alt=""></a>
                                                    <div class="proj-img-hover">


                                                        <div class="proj-link">
                                                            <a class="view-img pharmaceuticals" href="../images/projects/PharmaceuticalsAndChemicals/1.jpg" data-fancybox-group="gallery" title="Drasti"><i class="fa fa-search"></i></a>

                                                            <a class="view-img pharmaceuticals" href="../images/projects/PharmaceuticalsAndChemicals/2.jpg" data-fancybox-group="gallery" title="Drasti"></a>
                                                            <a class="view-img pharmaceuticals" href="../images/projects/PharmaceuticalsAndChemicals/3.jpg" data-fancybox-group="gallery"></a>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="proj-text">
                                                    <h4>Pharmaceuticals & Chemicals</h4>
                                                </div>
                                            </div>

                                            <div class="col-md-3 col-sm-3 industry-img">
                                                <div class="project-content">
                                                    <a href="#"><img src="../images/projects/PlasticAndPackaging/1-thumb.jpg" alt=""></a>
                                                    <div class="proj-img-hover">


                                                        <div class="proj-link">
                                                            <a class="view-img plastic" href="../images/projects/PlasticAndPackaging/1.jpg" data-fancybox-group="gallery" title="Sunpack Barrier Plastic"><i class="fa fa-search"></i></a>
                                                            <a class="view-img plastic" href="../images/projects/PlasticAndPackaging/2.jpg" data-fancybox-group="gallery" title="Sunpack Barrier Plastic"></a>
                                                            <a class="view-img plastic" href="../images/projects/PlasticAndPackaging/3.jpg" data-fancybox-group="gallery" title="Supreme Industries"></a>



                                                            <a class="view-img plastic" href="../images/projects/PlasticAndPackaging/4.jpg" data-fancybox-group="gallery" title="Supreme Plastic"></a>

                                                            <a class="view-img plastic" href="../images/projects/PlasticAndPackaging/5.jpg" data-fancybox-group="gallery" title="Plastic and Packaging"></a>

                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="proj-text">
                                                    <h4>Plastic and Packaging</h4>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="project-gap-25"></div>
                                        <div class="row">


                                            <div class="col-md-3 col-sm-3 industry-img">
                                                <div class="project-content">
                                                    <a href="#"><img src="../images/projects/Railways/1-thumb.jpg" alt=""></a>
                                                    <div class="proj-img-hover">


                                                        <div class="proj-link">
                                                            <a class="view-img railways" href="../images/projects/Railways/1.jpg" data-fancybox-group="gallery" title="Kurla"><i class="fa fa-search"></i></a>

                                                            <a class="view-img railways" href="../images/projects/Railways/2.jpg" data-fancybox-group="gallery" title="Matheran"></a>
                                                            <a class="view-img railways" href="../images/projects/Railways/3.jpg" data-fancybox-group="gallery" title="Matheran"></a>
                                                            <a class="view-img railways" href="../images/projects/Railways/4.jpg" data-fancybox-group="gallery" title="Matunga"></a>
                                                            <a class="view-img railways" href="../images/projects/Railways/5.jpg" data-fancybox-group="gallery" title="Nagpur"></a>
                                                            <a class="view-img railways" href="../images/projects/Railways/6.jpg" data-fancybox-group="gallery" title="RPF Shelters Thane"></a>
                                                            <a class="view-img railways" href="../images/projects/Railways/7.jpg" data-fancybox-group="gallery" title="Bogie Manufacturing West Bangal"></a>
                                                            <a class="view-img railways" href="../images/projects/Railways/8.jpg" data-fancybox-group="gallery" title="Central Railway Nagpur"></a>

                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="proj-text">
                                                    <h4>Railways</h4>
                                                </div>
                                            </div>


                                            <div class="col-md-3 col-sm-3 industry-img">
                                                <div class="project-content">
                                                    <a href="#"><img src="../images/projects/RiceMills/1-thumb.jpg" alt=""></a>
                                                    <div class="proj-img-hover">


                                                        <div class="proj-link">
                                                            <a class="view-img rice" href="../images/projects/RiceMills/1.jpg" data-fancybox-group="gallery" title="Rice Mills"><i class="fa fa-search"></i></a>
                                                            <a class="view-img rice" href="../images/projects/RiceMills/2.jpg" data-fancybox-group="gallery" title="Laxmi Rice Mill"></a>
                                                            <a class="view-img rice" href="../images/projects/RiceMills/3.jpg" data-fancybox-group="gallery" title="R S Foods"></a>
                                                            <a class="view-img rice" href="../images/projects/RiceMills/4.jpg" data-fancybox-group="gallery" title="R S Foods"></a>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="proj-text">
                                                    <h4>Rice Mills</h4>
                                                </div>
                                            </div>



                                            <div class="col-md-3 col-sm-3 industry-img">
                                                <div class="project-content">
                                                    <a href="#"><img src="../images/projects/SportsComplex/1-thumb.jpg" alt=""></a>
                                                    <div class="proj-img-hover">


                                                        <div class="proj-link">
                                                            <a class="view-img sports" href="../images/projects/SportsComplex/1.jpg" data-fancybox-group="gallery" title="Sports Complex"><i class="fa fa-search"></i></a>

                                                            <a class="view-img sports" href="../images/projects/SportsComplex/2.jpg" data-fancybox-group="gallery" title="Sports Complex"></a>
                                                            <a class="view-img sports" href="../images/projects/SportsComplex/3.jpg" data-fancybox-group="gallery" title="Nirmiti Kendra"></a>
                                                            <a class="view-img sports" href="../images/projects/SportsComplex/4.jpg" data-fancybox-group="gallery" title="Nirmiti Kendra"></a>
                                                            <a class="view-img sports" href="../images/projects/SportsComplex/5.jpg" data-fancybox-group="gallery" title="O.P. Jindal"></a>
                                                            <a class="view-img sports" href="../images/projects/SportsComplex/6.jpg" data-fancybox-group="gallery" title="O.P. Jindal"></a>
                                                            <a class="view-img sports" href="../images/projects/SportsComplex/7.jpg" data-fancybox-group="gallery" title="Vadodara Maha Nagar Seva Sadan"></a>
                                                            <a class="view-img sports" href="../images/projects/SportsComplex/8.jpg" data-fancybox-group="gallery" title="Vadodara Maha Nagar Seva Sadan"></a>

                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="proj-text">
                                                    <h4>Sports Complex</h4>
                                                </div>
                                            </div>

                                            <div class="col-md-3 col-sm-3 industry-img">
                                                <div class="project-content">
                                                    <a href="#"><img src="../images/projects/Sugar/1-thumb.jpg" alt=""></a>
                                                    <div class="proj-img-hover">


                                                        <div class="proj-link">
                                                            <a class="view-img sugar" href="../images/projects/Sugar/1.jpg" data-fancybox-group="gallery" title="Daund Sagar"><i class="fa fa-search"></i></a>

                                                            <a class="view-img sugar" href="../images/projects/Sugar/2.jpg" data-fancybox-group="gallery" title="Daund Sagar"></a>
                                                            <a class="view-img sugar" href="../images/projects/Sugar/3.jpg" data-fancybox-group="gallery" title="Dhampur Sugar"></a>
                                                            <a class="view-img sugar" href="../images/projects/Sugar/4.jpg" data-fancybox-group="gallery" title="Sagar"></a>
                                                            <a class="view-img sugar" href="../images/projects/Sugar/5.jpg" data-fancybox-group="gallery" title="Sagar"></a>
                                                            <a class="view-img sugar" href="../images/projects/Sugar/6.jpg" data-fancybox-group="gallery" title="Sagar"></a>
                                                            <a class="view-img sugar" href="../images/projects/Sugar/7.jpg" data-fancybox-group="gallery" title="Sagar"></a>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="proj-text">
                                                    <h4>Sugar</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="project-gap-25"></div>
                                        <div class="row">

                                            <a name="p3"></a>



                                            <div class="col-md-3 col-sm-3 industry-img">
                                                <div class="project-content">
                                                    <a href="#"><img src="../images/projects/Textile/1-thumb.jpg" alt=""></a>
                                                    <div class="proj-img-hover">


                                                        <div class="proj-link">
                                                            <a class="view-img textile" href="../images/projects/Textile/1.jpg" data-fancybox-group="gallery" title="Bombay Dyeing"><i class="fa fa-search"></i></a>


                                                            <a class="view-img textile" href="../images/projects/Textile/2.jpg" data-fancybox-group="gallery" title="Textile"></a>


                                                            <a class="view-img textile" href="../images/projects/Textile/3.jpg" data-fancybox-group="gallery" title="Textile"></a>
                                                            <a class="view-img textile" href="../images/projects/Textile/4.jpg" data-fancybox-group="gallery" title="Textile"></a>
                                                            <a class="view-img textile" href="../images/projects/Textile/5.jpg" data-fancybox-group="gallery" title="Arvind Mill"></a>
                                                            <a class="view-img textile" href="../images/projects/Textile/6.jpg" data-fancybox-group="gallery" title="Textile"></a>
                                                            <a class="view-img textile" href="../images/projects/Textile/7.jpg" data-fancybox-group="gallery" title="Bombay Rayon"></a>
                                                            <a class="view-img textile" href="../images/projects/Textile/8.jpg" data-fancybox-group="gallery" title="Bombay Rayon"></a>
                                                            <a class="view-img textile" href="../images/projects/Textile/9.jpg" data-fancybox-group="gallery" title="Textile"></a>
                                                            <a class="view-img textile" href="../images/projects/Textile/10.jpg" data-fancybox-group="gallery" title="MBR Flexibles Ltd."></a>
                                                            <a class="view-img textile" href="../images/projects/Textile/11.jpg" data-fancybox-group="gallery" title="Vamatex"></a>

                                                            <a class="view-img textile" href="../images/projects/Textile/12.jpg" data-fancybox-group="gallery" title="Vamatex"></a>
                                                            <a class="view-img textile" href="../images/projects/Textile/13.jpg" data-fancybox-group="gallery" title="Textile"></a>

                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="proj-text">
                                                    <h4>Textile</h4>
                                                </div>
                                            </div>

                                            <div class="col-md-3 col-sm-3 industry-img">
                                                <div class="project-content">
                                                    <a href="#"><img src="../images/projects/TollPlaza/1-thumb.jpg" alt=""></a>
                                                    <div class="proj-img-hover">


                                                        <div class="proj-link"> <a class="view-img toll-plaza" href="../images/projects/TollPlaza/1.jpg" data-fancybox-group="gallery" title="Toll Plaza"><i class="fa fa-search"></i></a> </div>
                                                    </div>

                                                </div>
                                                <div class="proj-text">
                                                    <h4>Toll Plaza</h4>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-3 industry-img">
                                                <div class="project-content">
                                                    <a href="#"><img src="../images/projects/Versatality/1-thumb.jpg" alt=""></a>
                                                    <div class="proj-img-hover">


                                                        <div class="proj-link">
                                                            <a class="view-img versatality" href="../images/projects/Versatality/1.jpg" data-fancybox-group="gallery" title="Ground to Ground"><i class="fa fa-search"></i></a>

                                                            <a class="view-img versatality" href="../images/projects/Versatality/2.jpg" data-fancybox-group="gallery" title="Ground to Ground"></a>
                                                            <a class="view-img versatality" href="../images/projects/Versatality/3.jpg" data-fancybox-group="gallery" title="Half Arch"></a>
                                                            <a class="view-img versatality" href="../images/projects/Versatality/4.jpg" data-fancybox-group="gallery" title="L Section"></a>
                                                            <a class="view-img versatality" href="../images/projects/Versatality/5.jpg" data-fancybox-group="gallery" title="Roof With Overhead Crane"></a>
                                                            <a class="view-img versatality" href="../images/projects/Versatality/6.jpg" data-fancybox-group="gallery" title="Roof With Overhead Ducting"></a>
                                                            <a class="view-img versatality" href="../images/projects/Versatality/7.jpg" data-fancybox-group="gallery" title="Roof With Steel Structure"></a>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="proj-text">
                                                    <h4>Versatility</h4>
                                                </div>
                                            </div>

                                            <div class="col-md-3 col-sm-3 industry-img">
                                                <div class="project-content">
                                                    <a href="#"><img src="../images/projects/WarehouseAndLogistics/1-thumb.jpg" alt=""></a>
                                                    <div class="proj-img-hover">


                                                        <div class="proj-link">
                                                            <a class="view-img warehouse" href="../images/projects/WarehouseAndLogistics/1.jpg" data-fancybox-group="gallery" title="Warehouse and Logistics"><i class="fa fa-search"></i></a>
                                                            <a class="view-img warehouse" href="../images/projects/WarehouseAndLogistics/2.jpg" data-fancybox-group="gallery" title="Warehouse and Logistics"></a>
                                                            <a class="view-img warehouse" href="../images/projects/WarehouseAndLogistics/3.jpg" data-fancybox-group="gallery" title="Warehouse and Logistics"></a>
                                                            <a class="view-img warehouse" href="../images/projects/WarehouseAndLogistics/4.jpg" data-fancybox-group="gallery" title="Warehouse and Logistics"></a>
                                                            <a class="view-img warehouse" href="../images/projects/WarehouseAndLogistics/5.jpg" data-fancybox-group="gallery" title="AMC Warehouse"></a>
                                                            <a class="view-img warehouse" href="../images/projects/WarehouseAndLogistics/6.jpg" data-fancybox-group="gallery" title="Dinesh Warehousing"></a>
                                                            <a class="view-img warehouse" href="../images/projects/WarehouseAndLogistics/7.jpg" data-fancybox-group="gallery" title="HAFED"></a>
                                                            <a class="view-img warehouse" href="../images/projects/WarehouseAndLogistics/8.jpg" data-fancybox-group="gallery" title="HWC - Pipli"></a>
                                                            <a class="view-img warehouse" href="../images/projects/WarehouseAndLogistics/9.jpg" data-fancybox-group="gallery" title="HWC - Pipli"></a>
                                                            <a class="view-img warehouse" href="../images/projects/WarehouseAndLogistics/10.jpg" data-fancybox-group="gallery" title="State Warehousing - Karnatak "></a>
                                                            <a class="view-img warehouse" href="../images/projects/WarehouseAndLogistics/11.jpg" data-fancybox-group="gallery" title="NCMSL Warehouse - Ujjain "></a>
                                                            <a class="view-img warehouse" href="../images/projects/WarehouseAndLogistics/12.jpg" data-fancybox-group="gallery" title="NDR Warehousing"></a>
                                                            <a class="view-img warehouse" href="../images/projects/WarehouseAndLogistics/13.jpg" data-fancybox-group="gallery" title="PSWC Sangrur"></a>
                                                            <a class="view-img warehouse" href="../images/projects/WarehouseAndLogistics/14.jpg" data-fancybox-group="gallery" title="PSWC Sangrur"></a>
                                                            <a class="view-img warehouse" href="../images/projects/WarehouseAndLogistics/15.jpg" data-fancybox-group="gallery" title="Rajlakshmi Logistics"></a>
                                                            <a class="view-img warehouse" href="../images/projects/WarehouseAndLogistics/16.jpg" data-fancybox-group="gallery" title="RCM"></a>
                                                            <a class="view-img warehouse" href="../images/projects/WarehouseAndLogistics/17.jpg" data-fancybox-group="gallery" title="Swastik Construction"></a>

                                                            <a class="view-img warehouse" href="../images/projects/WarehouseAndLogistics/18.jpg" data-fancybox-group="gallery" title="Swastik Corporation"></a>

                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="proj-text">
                                                    <h4>Warehouse and Logistics</h4>
                                                </div>
                                            </div>
                                        </div>





                                    </div>






                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Service Details Goes Here --> 