@model RoofTech.Models.EmailModel
@{
    ViewData["Title"] = "Roofing | Roofing Companies | Fastest Roofing | Metal Roofing | Steel Roofing | Industrial Roofing | Factory Roofing | Warehouse Roofing";
    ViewData["PageName"] = "Free";
}

<!-- Start Header Area background -->
<div class="contact-us-page">


    <div id="inner-header">
        <img src="../images/inner_banner/contactus.jpg"> <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="pages-header-content text-center">


                        <div class="breadcum">
                            <ul>
                                <li><a href="index-2.html">Home</a></li>
                                <li><a href="contact.html">Free</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Header Area background  -->
    <!-- Contact-content -->

    <section id="contact-section-form" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 contact-final">
                    <p>Free</p>
                    <p>@Html.ActionLink("Explore Site", "Index", "Home")</p>
                </div>
            </div>
        </div>
    </section> <!-- /#contact-content -->
</div>